<template>
    <div>
        <b-modal
            id="add-data-segment-popup"
            ref="modal"
            :title="title"
            size="sm"
            hide-footer
            no-close-on-backdrop
            modal-class="hide-footer"
            no-close-on-esc
            :hide-header-close="loading"
            @hidden="onHidden"
        >
            <b-form
                @submit.stop.prevent="onSubmit()"
                @reset.stop.prevent="onHidden"
            >
                <div class="row custom-model-form">
                    <div class="col-md-12">
                        <b-form-group
                            id="input-group-5"
                            label="Country"
                            label-for="country"
                        >
                            <b-form-select
                                v-model="formData.nationality"
                                v-validate="{
                                    required: true,
                                }"
                                name="country"
                                :class="[
                                    'form-control',
                                    {
                                        'is-invalid': errors.has('country'),
                                    },
                                ]"
                                :options="nationalities"
                                disabled
                            ></b-form-select>
                        </b-form-group>
                    </div>
                    <div class="col-md-12">
                        <b-form-group
                            id="input-group-1"
                            label="Data Segment Title"
                            label-for="segment-title"
                        >
                            <b-form-input
                                id="segment-title"
                                v-model="formData.title"
                                v-validate="{
                                    required: true,
                                    max: 50,
                                    min: 5,
                                }"
                                type="text"
                                name="title"
                                :class="{
                                    'is-invalid': errors.has('title'),
                                }"
                                autocomplete="no"
                                placeholder="Enter data segment title"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                    <div class="col-md-12">
                        <b-form-group
                            label="Tier"
                            label-for="Tier"
                            :class="{
                                'required-field': tierField.isRequired,
                            }"
                        >
                            <b-form-select
                                v-model="formData.tier"
                                v-validate="{
                                    required: tierField.isRequired,
                                }"
                                type="text"
                                autocomplete="no"
                                :disabled="loading"
                                :options="tierField.options"
                                :text-field="textField"
                                :value-field="valueField"
                                :data-vv-name="tierField.label"
                                class="form-control custom-select"
                                :class="{
                                    'is-invalid': errors.has(tierField.label),
                                }"
                            >
                                <option slot="first" :value="null" disabled>
                                    {{ tierField.placeholder }}
                                </option>
                            </b-form-select>
                        </b-form-group>
                    </div>
                    <div class="col-md-12">
                        <b-form-group
                            id="counter"
                            label="Counter"
                            label-for="counter"
                        >
                            <b-form-input
                                id="counter"
                                v-model="formData.counter"
                                v-validate="{
                                    required: true,
                                }"
                                type="text"
                                name="counter"
                                :class="{
                                    'is-invalid': errors.has('counter'),
                                }"
                                autocomplete="no"
                                placeholder="Enter Counter"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </div>
                    <div class="col-md-12">
                        <b-form-group
                            id="input-group-6"
                            label="Free / Paid"
                            label-for="freePaid"
                        >
                            <b-form-select
                                v-model="formData.subscription"
                                v-validate="{
                                    required: true,
                                }"
                                name="freePaid"
                                :class="[
                                    'form-control',
                                    {
                                        'is-invalid': errors.has('freePaid'),
                                    },
                                ]"
                                :options="freePaidOptions"
                                disabled
                            ></b-form-select>
                        </b-form-group>
                    </div>
                </div>
                <div class="col-md-12 action-buttons">
                    <base-button
                        :btn-label="buttonLabel"
                        btn-type="submit"
                        btn-variant="primary"
                        :class="loading ? 'disabled' : ''"
                    ></base-button>
                    <base-button
                        btn-label="Cancel"
                        btn-type="reset"
                        btn-variant="link"
                    ></base-button>
                </div>
            </b-form>
            <base-toast></base-toast>
        </b-modal>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: {}, // End of Component > props
    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {
            formData: this.initializeFormData(),
            textField: 'text',
            valueField: 'value',
            tierField: {
                isRequired: true,
                // placeholder: 'Select Tier',
                placeholder: 'Select Tier',
                options: [
                    {
                        value: '5',
                        text: 'Free Trial',
                    },
                    {
                        value: '100',
                        text: '100',
                    },
                    {
                        value: '500',
                        text: '500',
                    },
                    {
                        value: '1000',
                        text: '1000',
                    },
                ],
                label: 'Tier',
                title: 'Tier',
            },
            freePaidOptions: [
                {
                    value: 'trial',
                    text: 'Free',
                },
                {
                    value: 'paid',
                    text: 'Paid',
                },
            ],
        }
    },
    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapGetters([
            'loading',
            'selectedItem',
            'hidePopup',
            'nationalities',
        ]),
        title() {
            return this.selectedItem
                ? 'Modify Data Segment'
                : 'Add Data Segment'
        }, // End of title() method

        buttonLabel() {
            return this.selectedItem ? 'Update' : 'Create'
        },
    }, // End of Component > computed
    /*
    |--------------------------------------------------------------------------
    | Component > watch
    |--------------------------------------------------------------------------
    */
    watch: {
        /**
         * Handle when the selected has been updated
         *
         * @return {void}
         */
        selectedItem(value) {
            console.log('Value : ', value)
            if (value !== null && value !== undefined) {
                this.formData.id = value._id
                this.formData.title = value.title
                this.formData.code = value.code
                this.formData.counter = value.counter
                this.formData.tier = value.tier
                this.formData.subscription = value.subscription
                this.formData.nationality = value.nationality
                    ? value.nationality.title
                    : null
            } else if (this.$refs.modal._isShown) {
                this.$refs.modal.hide()
            } else {
                this.onHidden()
            }
        },
        /**
         * Handle when popup hides
         *
         * @return {void}
         */
        hidePopup(value) {
            if (value) {
                this.onHidden()
            }
        },
    }, // End of Component > watch
    /*
    |--------------------------------------------------------------------------
    | Component > mounted
    |--------------------------------------------------------------------------
    */
    mounted() {}, // End of mounted
    methods: {
        //initialize form data
        initializeFormData() {
            return {
                id: null,
                title: '',
                code: '',
                nationality: null,
            }
        },

        async onSubmit() {
            const result = await this.$validator.validateAll()
            console.log('Form Data : ' + JSON.stringify(this.formData))
            if (result) {
                try {
                    if (this.formData.id) {
                        //update application access
                        await this.$store.dispatch(
                            'updateDataSegment',
                            this.formData
                        )
                    } else {
                        //add application access
                        await this.$store.dispatch(
                            'addDataSegment',
                            this.formData
                        )
                        // Clear form fields
                    }
                } catch (error) {
                    console.log(error, 'There is an error on submit')
                }
            } else {
                this.$store.commit('setError', this.errors.all()[0])
            }
        },
        /**
         * Handle when the modal is closed
         *
         * @return {void}
         */
        onHidden() {
            // clear the selected item
            this.$store.commit('clearItem')
            Object.assign(this.formData, this.initializeFormData())
            this.$validator.reset()
            this.$refs.modal.hide()
        }, // End of onHidden() method
    },
}
</script>
