.btn {
    font-family: $font-medium;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $button-size;
    padding: $button-padding;
    min-width: 100px;
    position: relative;
    border-radius: 4px;
    height: $button-height;
    box-shadow: $button-box-shadow;
    border-radius: 5px;
    @include windowS {
    }
    @include tablet {
        padding: $button-padding-m;
        min-width: 0;
        font-size: 0.875rem;
    }

    @include mobile {
        font-size: 13px;
        padding: 12px 18px;
    }

    &:focus {
        box-shadow: none !important;
    }
    &.btn-link {
        font-family: $font_regular;
        box-shadow: none;
        text-decoration: none;
        color: $secondary;
        text-transform: initial;
        box-shadow: none;
        min-width: 0;
        &:hover {
            text-decoration: underline;
        }
    }

    i {
        @include font-size(0.5);
        margin-right: 4px;
    }
    &.disabled {
        pointer-events: none;
        .loader {
            display: block;
        }
        .btn-text {
            opacity: 0;
        }
        .loader {
            top: 8px;
        }
    }
    &.btn-transparent {
        color: $secondary;
        &:hover,
        &:focus {
            box-shadow: $button-box-shadow !important;
        }
    }
    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
        &:not(:disabled):not(.disabled):active {
            background-color: $primary;
            border-color: $primary;
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        border-color: $secondary;
        &:not(:disabled):not(.disabled):active {
            background-color: $secondary;
            border-color: $secondary;
        }
    }
    &.disable {
        color: $grey-medium !important;
        background: #f2f2f6 !important;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-color: transparent !important;
    }
}

.btn-outline-primary {
    padding: 9px 8px !important;
}

.btn-group-toggle {
    width: 100%;
    border-radius: 5px;
}

.btn-sm {
    min-width: 110px !important;
}

// Button auto adjust
.auto-adjust-btn-padding {
    @include tablet {
        text-align: center !important;
    }

    @include mobile {
        text-align: center !important;
    }
    .btn-auto {
        margin-left: 12px;
        button {
            padding: 0px 58px;
            @include tablet {
                margin-bottom: 10px;
            }
        }
    }
}
