label {
    font-size: $label-font-size !important;
    font-family: $font-medium;
    color: $grey-lite;
    text-transform: uppercase;

    @include mobile {
        font-size: 12px !important;
    }
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-control {
    border: 1px solid transparent;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
        0px 1px 3px rgba(50, 50, 93, 0.1);
    border-radius: 5px;
    padding: $input-padding;
    color: $body-color;
    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08),
            0px 4px 6px rgba(50, 50, 93, 0.11);
        color: $body-color;
        border-color: transparent;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $input-color-placeholder !important;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $input-color-placeholder !important;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $input-color-placeholder !important;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $input-color-placeholder !important;
    }
    &.custom-select {
        color: $body-color;
        &:disabled {
            color: #6c757d !important;
            background-color: #e9ecef !important;
        }
        option[disabled='disabled'] {
            display: none;
        }
    }
    &.is-valid,
    &.is-invalid {
        box-shadow: none !important;
        background-image: none;
        // padding-right: calc(-0.5em + 0.75rem) !important;
        padding-right: 15px;
    }

    @include mobile {
        font-size: 13px;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-file {
    label.custom-file-label {
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
            0px 1px 3px rgba(50, 50, 93, 0.1) !important;
        padding-top: 11px;
        color: $grey-medium;
        padding-right: 70px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.875rem !important;
        text-transform: none;
        font-family: $font_regular;
        border: 1px solid transparent;
        &:after {
            background-color: transparent !important;
            color: $secondary;
            top: 5px;
            font-size: 0.875rem;
            border: none !important;
            text-transform: uppercase;
            font-family: $font_medium;

            @include mobile {
                font-size: 12px !important;
                top: 7px;
            }
        }
    }
}

.search-input {
    position: relative;

    .form-control {
        padding-right: 35px;
    }

    i {
        position: absolute;
        right: 14px;
        top: 15px;
        font-size: 15px;
        color: $dark;
        pointer-events: none;
    }
    input {
        border-radius: 5px;
    }
}

// select box

select {
    padding: $input-padding !important;
    line-height: 13px !important;
    background: #fff url(assets/images/arrow.svg) no-repeat right 0.75rem
        center/12px 10px !important;
}

textarea {
    resize: none;
}

.form-group {
    &.is-invalid {
        .custom-file-label {
            border: 1px solid $danger;
        }
    }
}
