header {
    background-color: #fff;
    padding: 0;
    height: $header-height;
    z-index: 99;
    position: fixed;
    padding: 0px 40px;
    top: 0;
    width: calc(100% - 252px);
    box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
    @include tabletL {
        width: 100%;
    }
    @include mobile {
        height: 42px;
        .profile-main {
            display: none;
        }
    }
    .fixed-header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        height: 52px;
        box-shadow: $box-shadow;
        @include tablet {
            padding-left: 0 !important;
        }
        @include mobile {
            height: 42px;
        }
    }
    .logo {
        margin-top: 11px;
        width: 112px;
        @include tablet {
            margin-top: 16px;
            width: 100px;
        }
        @include mobile {
            margin-top: 8px;
            width: 115px;
        }
    }
    &.menu-style-2 {
        .navigation {
            ul {
                text-align: center;
                margin: 0 auto;
                margin-right: 55px;
                li {
                    padding: 0;
                    position: relative;
                    width: 64px;
                    margin: 5.5px 12px;
                    @mixin windowS {
                        margin: 5.5px 6px;
                    }

                    &.router-link-exact-active {
                        color: $pink;
                        i {
                            background-color: $pink;
                            color: #fff;
                            margin: 0 auto;
                        }
                        span {
                            color: $pink;
                        }
                        &:before {
                            background-color: #e9eae1 !important;
                        }
                    }
                    &.router-link-active {
                        &:not(.router-link-exact-active) {
                            color: $primary;
                            i {
                                background-color: $primary;
                                color: #fff;
                            }
                        }

                        &:before {
                            background-color: $primary;
                        }
                        &:after {
                            background-color: $primary;
                        }
                    }

                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0 0;

                        i {
                            padding-right: 0px;
                            background-color: #f7f7f7;
                            padding: 6px 6px;
                            color: #706978;
                            border-radius: 100px;
                            font-size: 19px;
                            width: 31px;
                            height: 31px;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                            margin: 0 auto;
                        }
                        span {
                            @include font-size(0.5);
                            text-transform: uppercase;
                            margin-top: 1px;
                        }
                    }
                    &:before {
                        content: '';
                        left: 58px;
                        width: 36px;
                        height: 1px;
                        position: absolute;
                        background-color: $grey-xlite;
                        // top: -14px;
                        top: -12px;
                        bottom: 0;
                        margin: auto;
                    }
                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .profile-block {
        display: inline-block;
        width: 190px;
        @include tablet {
            width: 150px;
        }
    }
    .header-menu {
        &.navigation {
            width: calc(100% - 190px);
            @include tabletL {
                padding-left: 20px;
            }
            @include tablet {
                padding-left: 11px;
                width: calc(100% - 150px);
                li {
                    margin-right: 6px;
                    a {
                        span {
                            /*                             font-size: 0.6rem; */
                        }
                    }
                }
            }
        }
    }
    @include tabletL {
        &.show-menu {
            .menu-list {
                display: block;
            }
        }
    }
    @include mobile {
        position: fixed;
        transition: 0.3s ease-in-out;
        height: 100%;
        padding-top: 42px;
        padding-left: 0px;
        padding-right: 0px;
        transform: translateX(100%);
        &.show-menu {
            transform: translateX(0%);
            z-index: 999;
        }
        .header-menu {
            &.navigation {
                width: 100%;
                padding-left: 0px;
                height: 100%;
                .close-side-bar {
                    display: block;
                    z-index: 99;
                    i {
                        color: $primary;
                    }
                }
                ul {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    @include mobile {
                        top: 0;
                    }
                    li {
                        margin-right: 0px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid $grey-xlite;
                        a {
                            span {
                                font-size: 1rem;
                            }
                            &.router-link-active {
                                &:after {
                                    bottom: 0px;
                                }
                            }
                        }
                        &:hover,
                        &:focus {
                            a {
                                &:after {
                                    bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .profile-block {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 0;
            right: 0;
            max-width: 220px;
            margin: auto;
            .profile-main {
                .profile-detail {
                    top: 0px;
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}

.auth-header {
    padding: 20px 0;

    .logo {
        width: auto;
        img {
            width: auto;
            height: 41px;
        }
    }
    .profile-popover {
        position: absolute;
        top: 100%;
        background-color: #fff;
        ul {
            padding: 0px;
            list-style: none;
        }
    }
}
.profile-popover {
    cursor: not-allowed;
    ul {
        &.disabled {
            background: #f6f6f6;
            pointer-events: none;
            @include mobile {
                background: transparent;
            }
            a {
                color: $grey-medium;
            }
        }
    }
}

.header-fix {
    height: 52px;
    .logo {
        display: none;
    }
    @include tabletL {
        position: fixed;
        height: 42px;
        width: auto;
        left: 65px;
        top: 6px;
        z-index: 999;
        background-color: #fff;
        .logo {
            display: block;
            .main {
                display: none;
            }
            .inverse {
                display: block !important;
                margin: auto;
                max-width: 102px !important;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    @include mobile {
        background: #fff;
        width: 100%;
        top: 0;
        height: 52px;
        left: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

.profile-main {
    position: relative;
    @include tabletL {
        position: fixed;
        right: 76px;
        top: 0;
        padding-right: 20px;
    }
    .profile-image {
        position: absolute;
        left: 0px;
        height: 42px;
        width: 42px;
        margin: auto;
        top: 5px;
        border-radius: 100px;
        animation: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .profile-detail {
        padding-left: 55px;
        position: relative;
        top: 6px;
        cursor: pointer;
        h4 {
            font-size: 14px;
            color: #1a1a1a;
            font-family: $font_light;
            margin-bottom: 3px;
            padding-top: 4px;
            width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            font-size: 12px;
            color: #9ea0a5;
            margin-bottom: 0px;
            width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        i {
            position: absolute;
            right: 0;
            top: 0px;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            font-size: 7px;
            color: #979797;
            @include tabletL {
                right: -25px;
                top: 7px;
            }
            @include mobile {
                display: none;
            }
        }
    }
    @include mobile {
        .profile-detail {
            h4 {
                color: #fff;
            }
            p {
                color: #fff;
            }
        }
    }
    .profile-popover {
        @include mobile {
            display: none !important;
        }
    }
}

.profile-popover {
    position: absolute;
    top: 53px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 8px rgba(50, 50, 93, 0.2);
    ul {
        padding: 0px;
        list-style: none;
        margin-bottom: 0;
        li {
            border-bottom: 0.5px solid #cbcbd7;
            transition: 0.3s ease-in-out;
            a {
                padding: 11px 16px;
                display: block;
                text-decoration: none;
                font-size: 0.8125rem;
                color: $nav-color;
                position: relative;
                i {
                    margin-right: 10px;
                    font-size: 1.125rem;
                    position: absolute;
                    left: 16px;
                    bottom: 10px;
                }
                span {
                    padding-left: 33px;
                }
            }
            &:hover,
            &:focus {
                a {
                    color: $secondary;
                }
            }
        }
    }
    /*     @include tablet {
        ul {
            li {
                a {
                    padding: 9px 11px;
                    span {
                        padding-left: 30px;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    } */
    /*     @include mobile {
        position: fixed;
        display: flex;
        height: 100%;
        align-items: center;
        left: 0;
        justify-content: center;
        padding-bottom: 100px;
        .nav-dropdown {
            width: 100%;
            li {
                a {
                    text-align: center;
                    i {
                        margin-right: 0px;
                        font-size: 1.2rem;
                        position: relative;
                        left: 0;
                        bottom: 0;
                        display: block;
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    span {
                        padding-left: 0px;
                        font-size: 1rem;
                        display: block;
                    }
                }
            }
        }
    } */
}

.header-menu {
    ul {
        li {
            font-weight: 700;
        }
    }
}