// Modal
.modal {
    .modal-dialog {
        margin: 4rem auto;

        @include mobile {
            margin: 0;
            max-width: 100%;
            height: 100%;
        }

        .modal-content {
            border-radius: 8px;
            @include mobile {
                border-radius: 0;
            }

            @include mobile {
                height: 100%;
            }

            .modal-header {
                padding: 17px 24px 11px 24px;
                background-color: $upload-bg;
                position: static;
                width: 100%;
                border-bottom: 1px $border-opacity solid !important;

                @include mobile {
                    height: 54px;
                    border-radius: 0;
                }

                .modal-title {
                    font-size: $modal-title-font-size;
                    font-family: $font_medium;
                    line-height: 21px;
                }
                .close {
                    padding: 10px 10px 0 0;
                    font-size: 32px;
                    color: $input-color;
                    outline: none;
                    background-color: $nav-color;
                    border-radius: 100%;
                    width: 16px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 18px;
                    right: 10px;
                    opacity: 1;
                    overflow: hidden;

                    &:after {
                        content: '\e90f';
                        font-family: 'icomoon';
                        position: absolute;
                        color: $white;
                        font-size: 11px;
                        top: 2px;
                        right: 2.5px;
                    }
                }
            }

            .modal-body {
                padding: 24px;
                p {
                    line-height: 21px;
                    margin-bottom: 24px;

                    @include mobile {
                        font-size: 14px !important;
                        &.placeholder {
                            font-size: 0.73rem !important;
                        }
                    }
                }
            }

            .modal-footer {
                background-color: $upload-bg;
                padding: 11px 24px;
                border-top: 1px $border-opacity solid !important;
                flex-direction: row-reverse;
                position: relative;

                @include mobile {
                    border-radius: 0;
                }

                .btn-primary {
                    min-width: 110px;
                }

                .client-footer-logo {
                    position: absolute;
                    right: 24px;
                    width: 135px;
                    top: 10px;

                    h4 {
                        color: $grey-lite;
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        font-family: $font_medium;
                    }
                    @include mobile {
                        width: 100px;
                        top: 15px;
                        right: 20px;
                        h4 {
                            margin-bottom: 3px;
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        .btn-link {
            padding-left: 15px;
        }
    }
    @include mobile {
        .modal-header {
            position: relative;
            transform: translate(0);
        }
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.hide-footer {
    .modal-body {
        padding: 0px !important;
    }

    .custom-model-form {
        margin: 0px;
        padding: 24px 8px 0;

        @include mobile {
            height: calc(100vh - 120px);
        }
    }
    .action-buttons {
        background-color: #f2f2f6;
        padding: 11px 24px;
        border-top: 1px solid hsla(0, 0%, 59.2%, 0.1) !important;
        border-radius: 0px 0px 8px 8px;

        @include mobile {
            position: fixed;
            bottom: 1px;
            width: 99.5%;
            border-radius: 0;
        }

        .btn-primary {
            min-width: 110px;
        }
    }
}
