// radio button
.custom-radio {
    .custom-control-label {
        font-family: $font_regular;
        &:before {
            width: 20px;
            height: 20px;
            top: 0;
            background-color: transparent;
            border-color: $modal-header-border-color;
        }

        span {
            margin-left: 5px;
            @include font-size(0.875);
            text-transform: capitalize;
            color: $grey-lite;
            vertical-align: sub;
            margin-right: 6px;
            font-family: $font_medium;
            @include mobile {
                font-size: 13px;
            }
        }
    }
}
.radio-invalid {
    .is-invalid {
        .custom-radio {
            .custom-control-label {
                &:before {
                    border: $danger solid 1px;
                }
            }
        }
    }
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    width: 12px;
    height: 12px;
    background-color: $secondary;
    left: -20px;
    top: 4px;
    border-radius: 100%;
}

.required-field
    .custom-radio
    .custom-control-input:checked
    ~ .custom-control-label::after {
    left: -23px;
    top: 8px;
}

.required-field
    .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::after {
    left: -27px;
    top: 8px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
    border-color: $modal-header-border-color;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
    background-color: transparent;
}

.custom-radio
    .custom-control-input:focus:not(:checked)
    ~ .custom-control-label::before {
    border-color: transparent;
}

.custom-radio
    .custom-control-input:not(:disabled):active
    ~ .custom-control-label::before {
    background-color: transparent;
    border-color: $modal-header-border-color;
}
