.table-section {
    border: 1px #d7d7e2 solid;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    overflow-x: auto;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);

    &.table-min-width {
        .table {
            min-width: 1190px;
            @include mobile {
                min-width: 1300px;
                .action {
                    width: 150px;
                }
            }
        }
    }
    &.tablet-table-min-width {
        .table {
            @include tabletF {
                min-width: 1090px;
            }
            @include mobile {
                min-width: 860px;
            }
        }
    }
    &.tablet-table-small-min-width {
        .table {
            @include tabletF {
                min-width: 1080px;
                .w-320px {
                    width: 180px;
                }
                .w-150px {
                    width: 150px;
                }
                tbody {
                    td {
                        &.two-list {
                            width: 170px;
                        }
                    }
                }
            }
            @include mobile {
                min-width: 970px;
                .w-320px {
                    width: 250px;
                }
                .w-150px {
                    width: 180px;
                }
                .two-list {
                    width: 210px;
                }
                tbody {
                    td {
                        &.two-list {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
    &.tablet-table-xs-min-width {
        .table {
            @include tabletF {
                min-width: 900px;
                .w-320px {
                    width: 100px;
                }
                .w-150px {
                    width: 80px;
                }
                th {
                    &.single-list {
                        width: 140px;
                        text-align: right;
                    }
                }
                tbody {
                    td {
                        &.two-list {
                            width: 100px;
                        }
                        &.single-list {
                            width: 140px;
                            text-align: right;
                        }
                    }
                }
            }
            @include mobile {
                min-width: 640px;
                .w-320px {
                    width: 250px;
                }
                .w-150px {
                    width: 250px;
                }
                .id-center {
                    width: 362px;
                }
                .user-roles-action {
                    width: 350px;
                }
                tbody {
                    td {
                        &.two-list {
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
    &.tablet-table-xxs-min-width {
        .table {
            @include tabletF {
                min-width: 800px;
                .w-320px {
                    width: 180px;
                }
                .w-150px {
                    width: 150px;
                }
                .id-center {
                    width: 70px;
                }
                tbody {
                    td {
                        width: 170px;
                        &.two-list {
                            width: 170px;
                        }
                        &.single-list {
                            width: 70px;
                        }
                        &.id-center {
                            width: 70px;
                        }
                    }
                }
            }
            @include mobile {
                min-width: 810px;
                .w-320px {
                    width: 250px;
                }
                .w-150px {
                    width: 250px;
                }
                .id-center {
                    width: 162px;
                }
                .two-list {
                    width: 210px;
                }
                tbody {
                    td {
                        &.two-list {
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
    &.mobile-table-responsive {
        .table {
            @include tabletF {
                .two-list {
                    width: 170px;
                }
            }
            @include mobile {
                .two-list {
                    width: 230px;
                }
                .w-150px {
                    width: 160px;
                }
            }
        }
    }
    &.mobile-table-responsive-lg {
        .table {
            min-width: 740px;
            @include mobile {
                .two-list {
                    width: 210px !important;
                }
                .user-roles-action {
                    width: 300px;
                }
            }
        }
    }
    &.mobile-table-responsive-xlg {
        .table {
            min-width: 1100px;
            @include mobile {
                .two-list {
                    width: 290px !important;
                }
                .user-roles-action {
                    width: 300px;
                }
            }
        }
    }
    &.mobile-table-responsive-md {
        .table {
            @include mobile {
                .two-list {
                    // width: 350px !important;
                    width: 210px !important;
                }
            }
        }
    }
    &.mobile-table-responsive-sm {
        .table {
            @include mobile {
                min-width: 450px;
                .two-list {
                    width: 360px !important;
                }
            }
        }
    }
    &.mobile-descp-width {
        .table {
            @include mobile {
                min-width: 900px;
                .two-list {
                    width: 360px !important;
                }
                .id-center {
                    width: 192px !important;
                }
            }
        }
    }
    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 51px;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background-color: #fff;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cfd4d9;
        border-radius: 51px;
    }
    @include mobile {
        .table {
            &.two-list {
                font-size: 0.875rem;
            }
            &.single-list {
                font-size: 0.875rem;
            }
            .action-review {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
.table {
    border-radius: 8px 8px 0 0;
    border: 0px #d7d7e2 solid;
    overflow: hidden;
    margin-bottom: 0;

    thead {
        border: 0px #d7d7e2 solid;
        background: $grey-dark;
        color: #7f8fa4;
        th {
            border-bottom: 0 !important;
            background-color: $grey-dark;
            color: #7f8fa4;
            padding: $table-row-padding-th;
            vertical-align: middle;
            font-size: 0.75rem;
            overflow: hidden;
            font-family: $font_medium;
            text-transform: uppercase;
            border-top: none !important;
            outline: 0;
            cursor: pointer;
            &[aria-sort] {
                &:after {
                    content: '\e908';
                    font-family: 'icomoon';
                    padding-left: 8px;
                    vertical-align: middle;
                }
            }
            &:first-child {
                padding-left: 25px;
            }
            &:last-child {
                padding-right: 25px;
                pointer-events: none;
            }
            &.single-list {
                @include mobile {
                    width: 100px;
                }
            }
        }
        &.hidden_header {
            display: none;
        }
    }

    tbody {
        background-color: $white;
        border: 0px #d7d7e2 solid;
        tr {
            &:hover {
                // background: $table-hover;
            }
        }
        td {
            color: $grey-darkest;
            padding: $table-row-padding;
            vertical-align: middle;
            position: relative;
            a {
                color: $body-color;
                text-decoration: none;
                &:hover {
                    color: $secondary;
                }
                i {
                    vertical-align: middle;
                }

                &.work-impact {
                    color: $nav-color;
                    &:hover {
                        color: $secondary;
                    }
                }
            }

            &.two-list {
                width: 200px;
                @include mobile {
                    width: 450px;
                }
            }
            &.single-list {
                width: 150px;
                @include mobile {
                    width: 100px;
                }
            }
            .indecation {
                position: absolute;
                top: -2px;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                left: -2%;
                a {
                    color: $grey-lite;
                    font-size: 1rem;
                    &:hover,
                    &:focus {
                        color: $secondary;
                    }
                    i {
                        font-weight: bold;
                        &.icon-manual-alert {
                            font-size: 1.1rem;
                            font-weight: normal;
                        }
                    }
                }
                .alert-type-icons {
                    color: $grey-lite;
                    font-size: 1rem;
                    &:hover,
                    &:focus {
                        color: $secondary;
                        cursor: pointer;
                    }
                    i {
                        font-weight: bold;
                        &.icon-manual-alert {
                            font-size: 1.1rem;
                            font-weight: normal;
                        }
                    }
                }
            }
            &:first-child {
                padding-left: 25px;
            }
            &:last-child {
                padding-right: 15px;
            }
            @include mobile {
                padding: 14px 7px 14px;
            }
        }
        tr {
            &:hover {
                td {
                    a {
                        color: $secondary;
                    }

                    .disable-color {
                        opacity: 0.7;
                        a {
                            color: $grey-lite !important;
                        }
                    }
                }
            }
        }
        .action-review {
            display: inline-block;
            &.disabled {
                opacity: 0.5;
                pointer-events: none;
                span {
                    a {
                        color: $grey-lite !important;
                    }
                }
            }
            span {
                vertical-align: middle;
                a {
                    margin-right: 16px;
                    display: inline-block;
                    color: $grey-lite;
                    text-decoration: none;
                    &:last-child {
                        margin-right: 10px;
                    }
                    &:hover,
                    &:focus {
                        color: $secondary;
                    }

                    i {
                        margin-right: 8px;
                        position: relative;
                        top: -1px;
                        font-size: 1.1rem;
                        vertical-align: middle;
                        &.icon-done {
                            font-size: 1.2rem;
                            margin-right: 2px !important;
                            top: 0px;
                        }
                        &.icon-review {
                            font-size: 1.5rem;
                        }
                        &.icon-lock_outline {
                            font-size: 1.3rem;
                            top: 0;
                        }
                        &.icon-eye-view {
                            font-size: 0.9rem;
                            top: 0;
                        }
                    }
                    p {
                        display: inline-block;
                        margin: 0;
                        vertical-align: middle;
                    }
                }
                &:last-child {
                    a {
                        margin-right: 0px;
                    }
                }
            }
        }
        .action-column {
            margin-left: -10px;
            margin-right: -10px;
            a {
                padding: 0 10px;

                .icon-check {
                    font-size: 11px;
                }
            }
        }
        .rating-field {
            width: 200px;
        }
        tr {
            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4),
            &:nth-last-child(5) {
                .work-impact {
                    .custom-popover {
                        top: auto !important;
                        bottom: 28px !important;
                        &:before {
                            top: auto;
                            bottom: -10px !important;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .color-pallet {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    .min-20 {
        width: 20px;
    }
    .id-center {
        width: 170px;
        text-align: center;
    }
}

.bar-line {
    height: 34px;
    width: 5px;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    margin-right: 0px;
    top: 0;
    bottom: 0;
    left: 12px;
    margin: auto;
    &.high,
    &.High {
        background-color: $high;
    }
    &.medium,
    &.Medium {
        background-color: $medium;
    }
    &.low,
    &.Low {
        background-color: $low;
    }
    &.sanction,
    &.Sanction {
        background-color: $body-color;
    }
}

.high,
.High {
    color: $high;
}
.medium,
.Medium {
    color: $medium;
}
.low,
.Low {
    color: $low;
}

.disable-color {
    opacity: 0.7;
    a {
        &:hover,
        &:focus {
            color: $grey-lite !important;
        }
    }
}

.table-pagination {
    padding-top: 35px;
    .record-shown {
        display: flex;
        align-items: center;
        select {
            min-width: 170px;
            height: 36px;
            padding: 11px 15px !important;
        }
        p {
            padding-left: 15px;
            position: relative;
            top: -4px;
        }
        .disable {
            select {
                color: $grey-medium !important;
            }
        }
        @include mobile {
            flex-direction: column;
            fieldset {
                width: 100%;
            }
        }
    }
    .next-previous-pagination {
        text-align: right;
        button {
            margin-left: 15px;
            height: 36px;
            font-size: 0.75rem;
            padding: 9px 28px 8px;
            font-family: $font_medium;
            color: $secondary;
            background-color: #fff;
            border-color: #fff;
            box-shadow: 0px 2px 3px rgba(50, 50, 93, 0.11),
                0px 1px 3px rgba(0, 0, 0, 0.08);
            padding: 10px 11px;
        }
        @include mobile {
            text-align: center;
            button {
                width: 47%;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

// .infoengine {
//     .record-shown {
//         .form-group,
//         p {
//             margin-bottom: 0px;
//         }
//     }
// }
