.footer {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9;
    position: absolute;
    text-align: center;

    ul {
        list-style: none;
        li {
            display: inline-block;
            position: relative;
            padding: 0 16px;

            @include mobile {
                font-size: 13px;
            }
            a {
                color: #7f8fa4;
                text-decoration: none;

                @include mobile {
                    font-size: 13px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                background: #7f8fa4;
                width: 1px;
                height: 15px;
                top: 0;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        @include mobile {
            padding-left: 0px;
            li {
                &:first-child {
                    margin-bottom: 10px;
                    display: block;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    @include mobileSHeight {
        position: relative;
        display: flex;
        bottom: 0;
        margin-top: 30px;
        text-align: center;
        ul {
            width: 100%;
        }
    }
}
