<template>
    <b-container align-v="center" class="container">
        <div class="card">
            <h4 v-if="subscription == 'unpaid'">
                Your Current Plan has stalled. Please upgrade
            </h4>
            <h2 v-if="subscription == 'paid'">
                Your Current Plan has upto {{ tier }} Onboardings
            </h2>
            <h2 v-if="subscription == 'trial'">
                You are currently on a trial version.
            </h2>
            <div class="mt-1">
                <p v-if="subscription == 'paid' || 'trial'">
                    You have used {{ counter }} Onboardings out of
                    {{ tier }} from your plan
                </p>
            </div>
            <div v-if="subscription == 'paid'">
                <hr />
                To change your subscription or billing details, go to the
                billing portal <br />
                <b-button type="button" variant="primary" class="mt-3"
                    >Go to Billing Portal</b-button
                >
            </div>
        </div>

        <div v-if="subscription != 'paid'">
            <h2 style="text-align: center; padding: 20px 0px">
                Select a plan that works for you
            </h2>
            <div class="row">
                <div class="col-md-3">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Upto 100 Onboardings</span>
                                </div>
                                <!--//HEAD END-->
                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">US$</span>
                                    <span class="currency">24</span>
                                    <!-- <span class="cent">.99</span> -->
                                    <span class="month">/Mon</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li>Upto <span>100</span> Onboardings</li>
                                <li>Namescreening</li>
                                <li>Document Verification</li>
                                <li>KYC Risk Rating</li>
                                <!-- <li><span>24/7</span> Support</li> -->
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <b-button
                            v-b-modal.modal-2
                            class="mt-5"
                            variant="secondary"
                            @click.prevent="onSubmit('100')"
                            >Subscribe</b-button
                        >
                        <!--//BUTTON END-->
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
                <div class="col-md-3">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Upto 500 Onboardings</span>
                                </div>
                                <!--//HEAD END-->
                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">US$</span>
                                    <span class="currency">99</span>
                                    <!-- <span class="cent">.99</span> -->
                                    <span class="month">/Mon</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li>Upto <span>500</span> Onboardings</li>
                                <li>Namescreening</li>
                                <li>Document Verification</li>
                                <li>KYC Risk Rating</li>
                                <!-- <li><span>24/7</span> Support</li> -->
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <b-button
                            v-b-modal.modal-1
                            class="mt-5"
                            variant="secondary"
                            @click.prevent="onSubmit('500')"
                            >Subscribe</b-button
                        >
                        <br />
                        <!--//BUTTON END-->
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
                <div class="col-md-3">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Upto 1000 Onboardings</span>
                                </div>
                                <!--//HEAD END-->
                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">US$</span>
                                    <span class="currency">171</span>
                                    <!-- <span class="cent">.99</span> -->
                                    <span class="month">/Mon</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li>Upto <span>1000</span> Onboardings</li>
                                <li>Namescreening</li>
                                <li>Document Verification</li>
                                <li>KYC Risk Rating</li>
                                <!-- <li><span>24/7</span> Support</li> -->
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <b-button
                            v-b-modal.modal-1
                            variant="secondary"
                            @click.prevent="onSubmit('1000')"
                            >Subscribe</b-button
                        >
                        <!--//BUTTON END-->
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
                <div class="col-md-3">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>1000 - Unlimited Onboardings</span>
                                </div>
                                <!--//HEAD END-->
                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">US$</span>
                                    <span class="currency">0.20</span>
                                    <span class="cent">/Onboarding</span>
                                    <span class="month">/Mon</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>Unlimited</span> Onboardings</li>
                                <li>Namescreening</li>
                                <li>Document Verification</li>
                                <li>KYC Risk Rating</li>
                                <!-- <li><span>24/7</span> Support</li> -->
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <b-form-input
                            v-model="quantity"
                            placeholder="Enter Custom Quantity"
                            class="custom-input-quantity"
                        ></b-form-input>
                        <div class="mt-2" style="color: #a0a1a2">
                            You will purchase {{ quantity }} Onboardings
                        </div>

                        <!--BUTTON START-->
                        <b-button
                            v-b-modal.modal-1
                            variant="secondary"
                            :disabled="!quantity"
                            @click.prevent="onSubmit(quantity)"
                            >Subscribe</b-button
                        >
                        <!--//BUTTON END-->
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
            </div>

            <!-- card 4 -->
        </div>
    </b-container>
</template>

<script>
//import { StripeCheckout } from '@vue-stripe/vue-stripe'
import { mapGetters } from 'vuex'
const apiUrl = process.env.VUE_APP_API_URL
import axios from 'axios'

import resource from '@/api/resource'
const dataSegmentApi = new resource('users/data-segment')
//const pricesApi = new resource('users/prices')

export default {
    components: {},
    data: function () {
        return {
            counter: null,
            subscription: null,
            tier: null,
            quantity: '',
            csrfToken: null,
        }
    },
    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapGetters(['user', 'dataSegmentId', 'dataSegmentList']),
    }, // End of Component > mounted

    mounted() {
        this.getCSRFToken()
        this.getCounter()
        this.getPricing()
    },
    methods: {
        async getCSRFToken() {
            let response = await axios.get(apiUrl + 'users/getcsrftoken')
            axios.defaults.headers.common['X-CSRF-TOKEN'] =
                response.data.csrfToken
            this.csrfToken = response.data.csrfToken
            console.log(response.data.csrfToken)
        },
        async onSubmit(value) {
            try {
                console.log(value)
                if (this.quantity != '' && parseInt(this.quantity) < 1001) {
                    this.$store.commit(
                        'setError',
                        'You can only enter 1001 or more as a value'
                    )
                    return
                }
                // onLogout action in auth store
                let data = await this.$store.dispatch('createCheckoutSession', {
                    user: this.user,
                    priceId: process.env.VUE_APP_STRIPE_PRICE_ID, //'price_1Io8ZzHoDw6DABRYF6exn9sG',
                    quantity: value,
                })
                console.log(data)
            } catch (error) {
                console.log(error)
            }
        },
        async getCounter() {
            let dataSegment = await dataSegmentApi.get(this.dataSegmentId)
            //this.dataSegmentList.push(dataSegment.data.data)
            this.tier = dataSegment.data.data.tier
            this.subscription = dataSegment.data.data.subscription
            if (this.subscription == 'unpaid') {
                this.counter = 0
            } else {
                this.counter = dataSegment.data.data.counter
            }
            // console.log(this.dataSegmentList[0])
            // this.counter = this.dataSegmentList[0].counter
            // this.subscription = this.dataSegmentList[0].subscription
            // console.log(this.dataSegmentList[0].counter)
        },
        async getPricing() {
            //            let data = await axios.get(apiUrl + pricesApi)
            console.log(this.csrfToken)
            // axios.defaults.headers.common['X-CSRF-TOKEN'] = this.csrfToken
            let { data } = await axios.post(apiUrl + 'users/prices')
            console.log(data)
        },
        async onBilling() {
            try {
                // onLogout action in auth store
                await this.$store.dispatch(
                    'stripeCustomerPortalRedirect',
                    this.user
                )
            } catch (error) {
                console.log(error)
            }
        },
    },
}
</script>
