<template>
    <div class="preview-body">
        <div class="customer-info">
            <div class="customers-info-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-section sub-filter">
                            <div class="row sup-heading">
                                <div class="col-md-12 sup-heading-content">
                                    <h2 class="m-0">Preview Profile</h2>
                                    <b-button
                                        size="sm"
                                        variant="secondary"
                                        @click="pdf"
                                    >
                                        Export as PDF
                                    </b-button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Basic Information</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Full Name:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .basicInfo.firstName
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <div class="col-md-6">
                                    <ul class="row">
                                        <li class="col-md-6">
                                            <label>Middle Name:</label>
                                        </li>
                                        <li class="col-md-6">
                                            <span class="">{{
                                                customerDetails.middleName
                                                    ? customerDetails.middleName
                                                    : 'N/A'
                                            }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="row">
                                        <li class="col-md-6">
                                            <label>Last Name:</label>
                                        </li>
                                        <li class="col-md-6">
                                            <span class="">{{
                                                customerDetails.lastName
                                            }}</span>
                                        </li>
                                    </ul>
                                </div> -->
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Gender:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .basicInfo.gender
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label
                                                        >Date of Birth:</label
                                                    >
                                                </li>
                                                <li class="col-md-6">
                                                    <span
                                                        v-if="
                                                            customerDetails
                                                                .basicInfo
                                                                .dateOfBirth
                                                        "
                                                        >{{
                                                            customerDetails
                                                                .basicInfo
                                                                .dateOfBirth
                                                                | moment(
                                                                    'MMM D, YYYY'
                                                                )
                                                        }}</span
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label
                                                        >Country of
                                                        Residence:</label
                                                    >
                                                </li>
                                                <li class="col-md-6">
                                                    <span>{{
                                                        customerDetails
                                                            .basicInfo
                                                            .countryOfResidence
                                                            ? customerDetails
                                                                  .basicInfo
                                                                  .countryOfResidence
                                                            : ''
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Nationality:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span>{{
                                                        customerDetails
                                                            .basicInfo
                                                            .nationality
                                                            ? customerDetails
                                                                  .basicInfo
                                                                  .nationality
                                                            : ''
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Contact Information</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Address:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .contactInfo.address
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <div class="col-md-6">
                                    <ul class="row">
                                        <li class="col-md-6">
                                            <label>Middle Name:</label>
                                        </li>
                                        <li class="col-md-6">
                                            <span class="">{{
                                                customerDetails.middleName
                                                    ? customerDetails.middleName
                                                    : 'N/A'
                                            }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="row">
                                        <li class="col-md-6">
                                            <label>Last Name:</label>
                                        </li>
                                        <li class="col-md-6">
                                            <span class="">{{
                                                customerDetails.lastName
                                            }}</span>
                                        </li>
                                    </ul>
                                </div> -->
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>State:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .contactInfo.state
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>City:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .contactInfo.city
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Postal Code:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .contactInfo
                                                            .postalCode
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Phone Number</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span
                                                        >({{
                                                            customerDetails
                                                                .contactInfo
                                                                .isdCode
                                                                ? customerDetails
                                                                      .contactInfo
                                                                      .isdCode
                                                                : 'N/A'
                                                        }})
                                                        {{
                                                            customerDetails
                                                                .contactInfo
                                                                .phoneNumber
                                                                ? customerDetails
                                                                      .contactInfo
                                                                      .phoneNumber
                                                                : 'N/A'
                                                        }}</span
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Occupation Information</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Work Type:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .occupationInfo
                                                            .workType
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label
                                                        >Industry Type:</label
                                                    >
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .occupationInfo
                                                            .industry
                                                            ? customerDetails
                                                                  .occupationInfo
                                                                  .industry
                                                            : 'N/A'
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>Tax ID:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .occupationInfo
                                                            .taxId
                                                            ? customerDetails
                                                                  .occupationInfo
                                                                  .taxId
                                                            : 'N/A'
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>ID Document Information</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label
                                                        >ID DOCUMENT
                                                        TYPE:</label
                                                    >
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .identityInfo.type
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label
                                                        >ID DOCUMENT
                                                        NUMBER:</label
                                                    >
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .identityInfo.number
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label
                                                        >DO YOU HAVE AN ID
                                                        EXPIRY DATE?</label
                                                    >
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        customerDetails
                                                            .identityInfo
                                                            .isLifetimeExpiry
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>EXPIRY DATE:</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span
                                                        v-if="
                                                            customerDetails
                                                                .identityInfo
                                                                .expiryDate
                                                        "
                                                        >{{
                                                            customerDetails
                                                                .identityInfo
                                                                .expiryDate
                                                                | moment(
                                                                    'MMM D, YYYY'
                                                                )
                                                        }}</span
                                                    >
                                                    <span v-else> N/A </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>PEP Declaration</h3>
                                        </div>
                                        <div
                                            v-for="(
                                                item, index
                                            ) in pepDeclaration"
                                            :key="index"
                                            class="col-md-6"
                                        >
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>{{
                                                        item.field
                                                    }}</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        item.value
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Source Of Wealth</h3>
                                        </div>
                                        <div
                                            v-for="(
                                                item, index
                                            ) in sourceOfWealth"
                                            :key="index"
                                            class="col-md-6"
                                        >
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>{{
                                                        item.field
                                                    }}</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        item.value
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Source Of Funds</h3>
                                        </div>
                                        <div
                                            v-for="(
                                                item, index
                                            ) in sourceOfFunds"
                                            :key="index"
                                            class="col-md-6"
                                        >
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <label>{{
                                                        item.field
                                                    }}</label>
                                                </li>
                                                <li class="col-md-6">
                                                    <span class="">{{
                                                        item.value
                                                    }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="seprator-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>ID Document</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div
                                            class="
                                                col-lg-4
                                                col-md-6
                                                col-sm-12
                                                col-xs-12
                                                mb-4
                                            "
                                        >
                                            <img
                                                v-authenticated-image="
                                                    'customers/' +
                                                    identityInfo.fileName
                                                "
                                            />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <b-button
            size="sm"
            class="mr-3"
            variant="secondary"
            @click="$router.go(-1)"
        >
            Back
        </b-button>
        <b-button
            type="button"
            variant="primary"
            class="primary-add-btn"
            @click="onSubmitContinue"
            >CONTINUE
        </b-button>
        </div>

        <b-modal
            ref="termsandconditionmodal"
            size="xl"
            title="Terms And Conditions"
            hide-footer
            :click-to-close="false"
            :no-close-on-backdrop="true"
            :no-close-on-esc="true"
        >
            <terms-and-condition
                @agreed="agreeToTermsAndConditions"
            ></terms-and-condition>
        </b-modal>
        <b-modal
            ref="otpmodal"
            size="sm"
            title=""
            hide-footer
            :click-to-close="false"
            :no-close-on-backdrop="true"
            :no-close-on-esc="true"
        >
            <otp-modal
                v-if="is_data_fetched"
                :data="otpData"
                @verificationStatus="otpResponse"
                @reSendOTP="reSendOTP"
            ></otp-modal>
        </b-modal>
        <div class="col-lg-4"></div>
        <!-- <b-modal
            ref="my-modal"
            size="lg"
            title=""
            hide-footer
            :click-to-close="false"
            :no-close-on-backdrop="true"
            :no-close-on-esc="true"
        >
            <modal-setup-profile @close="handleClose"> </modal-setup-profile>
        </b-modal> -->
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import moment from 'moment'
import TermsAndCondition from '@/components/registration/TermsAndCondition.vue'
import OtpModal from '@/components/registration/OtpModal.vue'
// import ModalSetupProfile from '@/components/registration/ModalSetupProfile.vue'
import request from '@/utils/request'
import _ from 'lodash'

export default {
    components: {
        TermsAndCondition,
        OtpModal,
        // ModalSetupProfile,
    },
    filters: {
        identityInfoType: function (value) {
            switch (value) {
                case 'id':
                    return 'National ID Card'

                case 'licence':
                    return 'Driving Licence'

                case 'passport':
                    return 'Passport'
            }
        },
    },
    data() {
        return {
            customerDetails: [],
            basicInfo: [],
            residentialInfo: [],
            declarationByCustomer: [],
            pepDeclaration: [],
            ultimateBenefit: [],
            factaDetails: [],
            otpData: null,
            is_data_fetched: false,
            sourceOfWealth: [],
            sourceOfFunds: [],
            identityInfo: null,
        }
    },
    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        // ...mapState({
        //     userOcr: (state) => state.registration.useOcr,
        // }),

        ...mapGetters(['dataSegmentId', 'loading', 'form']),

        dataSegmentId() {
            if (this.$route.params.dataSegmentId) {
                return this.$route.params.dataSegmentId
            }
            return this.$store.getters.dataSegmentId
        },
    }, // End of Component > computed

    /*
    |--------------------------------------------------------------------------
    | Component > watch
    |--------------------------------------------------------------------------
    */

    created() {
        this.customerDetails = this.$store.state.registration.form
        console.log('States: ' + JSON.stringify(this.customerDetails))
        this.setValues()
        console.log(
            'IDENTITY : ',
            this.$store.getters.getField('documentInfo.identity')
        )
        this.identityInfo = this.$store.getters.getField(
            'documentInfo.identity'
        )
    },
    methods: {
        handleClose(event) {
            this.$refs['my-modal'].hide()
        },
        editSetupProfile() {
            this.$refs['my-modal'].show()
            // this.$ref.modalEditProfile.show()
            // if (this.$route.meta.publicRegistration === true) {
            //     this.$router.push({
            //         name: 'public-registration-setup-profile-edit',
            //         params: {
            //             dataSegmentId: this.dataSegmentId,
            //         },
            //     })
            // } else {
            //     // this.$router.push('/register-customer/finish')
            //     alert('Error in Opening Setup Profile Edit')
            // }
        },
        onSubmitContinue() {
            // this.$store.commit('setLoading', true)
            this.$refs.termsandconditionmodal.show()
        },
        agreeToTermsAndConditions() {
            // this.$refs.termsandconditionmodal.hide()
            this.sendOPT()
        },
        async sendOPT() {
            try {
                // console.log("Full :"+JSON.stringify(this.$store.state.registration.form) )
                let phoneNumber =
                    this.$store.state.registration.form.contactInfo.phoneNumber
                let fullName =
                    this.$store.state.registration.form.basicInfo.firstName
                let email =
                    this.$store.state.registration.form.contactInfo.email

                this.$store.commit('setLoading', true)
                // let phoneNumber = '923333728009'
                console.log('PHONE NUMBER: ' + phoneNumber)

                const formData = {
                    mobileNo: phoneNumber,
                    name: fullName,
                    email: email,
                }
                const { data } = await request({
                    url: `/configurations/generate-otp/`,
                    method: 'post',
                    data: formData,
                })

                if (data) {
                    this.is_data_fetched = true
                    data.data.phoneNumber = phoneNumber
                    this.otpData = data

                    this.$refs.termsandconditionmodal.hide()
                    this.$refs.otpmodal.show()
                }

                this.showPageLoader = false
                console.log('Response OTP data: ' + JSON.stringify(data))
                // this.fields = data.data
            } catch (error) {
                console.log('OTP error: ' + error)
            }

            this.$store.commit('setLoading', false)
        }, // End of sendOtp() method

        async otpResponse(data) {
            console.log('emi data: ' + JSON.stringify(data))
            if (data.verificationStatus == true) {
                this.$refs.otpmodal.hide()
                this.$store.commit('setLoading', true)
                const formData = this.$store.state.registration.form
                formData.dataSegmentId = this.dataSegmentId
                let registrationUrl = '/customers/face-to-face'
                if (this.$route.meta.publicRegistration === true) {
                    registrationUrl = '/customers/non-face-to-face'
                }
                try {
                    const formData = this.$store.state.registration.form
                    formData.dataSegmentId = this.dataSegmentId

                    console.log('FormData: ' + JSON.stringify(formData))
                    const { data } = await request({
                        url: registrationUrl,
                        method: 'post',
                        data: formData,
                    })
                    this.$store.commit('updateField', {
                        key: 'idenfoId',
                        value: data.data.idenfoId,
                    })

                    if (this.$route.meta.publicRegistration === true) {
                        this.$router.push({
                            name: 'deep-registration-finish',
                            params: {
                                dataSegmentId: this.dataSegmentId,
                            },
                        })
                    } else {
                        this.$router.push('/register-customer/finish')
                    }
                    this.$store.commit('setLoading', false)
                } catch (errors) {
                    this.$store.commit('setLoading', false)
                    this.$store.commit('setError', errors)
                }
            } else {
                this.$store.commit('setLoading', false)
                this.$store.commit('setError', data.message)
            }
            // this.$store.commit('setLoading', false)
        }, // End of otpResponse() method

        async reSendOTP() {
            this.sendOPT()
        }, // End of reSendOTP() method

        addDangerClass(date) {
            let expiryDate = this.$moment(date)
            let diff = expiryDate.diff(this.$moment(), 'days')
            if (diff <= 60) {
                return 'danger'
            }
            return ''
        },
        onCloseOTPModal() {
            his.$store.commit('setLoading', false)
        },
        pdf() {
            window.print()
            window.close()
        },
        setValues() {
            this.pepDeclaration.push(
                {
                    field: 'DO YOU CURRENTLY HOLD ANY PUBLIC POSITION?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.anyPublicPos
                            ? this.customerDetails.pepDeclaration.anyPublicPos
                            : 'N/A',
                },
                {
                    field: 'DID YOU HOLD ANY PUBLIC POSITION IN THE LAST 12 MONTHS?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.posLastTwoMonths
                            ? this.customerDetails.pepDeclaration
                                  .posLastTwoMonths
                            : 'N/A',
                },
                {
                    field: 'HAVE YOU EVER HELD ANY PUBLIC POSITION?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.everPublicPosition
                            ? this.customerDetails.pepDeclaration
                                  .everPublicPosition
                            : 'N/A',
                },
                {
                    field: 'DID YOU HAVE OR HAVE YOU EVER HAD ANY DIPLOMATIC IMMUNITY?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.diplomaticImmunity
                            ? this.customerDetails.pepDeclaration
                                  .diplomaticImmunity
                            : 'N/A',
                },
                {
                    field: 'DO YOU HAVE A RELATIVE WHO HAS HELD ANY PUBLIC POSITION IN THE LAST 12 MONTHS?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.relativeTwelveMonths
                            ? this.customerDetails.pepDeclaration
                                  .relativeTwelveMonths
                            : 'N/A',
                },
                {
                    field: 'DO YOU HAVE A CLOSE ASSOCIATE WHO HAS HELD ANY PUBLIC POSITION IN THE LAST 12 MONTHS?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration
                            .closeAssociateTwelveMonths
                            ? this.customerDetails.pepDeclaration
                                  .closeAssociateTwelveMonths
                            : 'N/A',
                },
                {
                    field: 'HAS THERE BEEN A CONVICTION AGAINST YOU BY A COURT OF LAW?',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.conviction
                            ? this.customerDetails.pepDeclaration.conviction
                            : 'N/A',
                },
                {
                    field: 'IF YOU HAVE ANSWERED "YES" TO ANY OF THE QUESTIONS ABOVE, PLEASE PROVIDE DETAILS:',
                    value:
                        this.customerDetails &&
                        this.customerDetails.pepDeclaration &&
                        this.customerDetails.pepDeclaration.other
                            ? this.customerDetails.pepDeclaration.other
                            : 'N/A',
                }
            )
            this.sourceOfWealth.push(
                {
                    field: 'SOURCE OF WEALTH - EACH ITEM CHECKED SHOULD BE APPROPRIATELY EVIDENCED',
                    value:
                        this.customerDetails &&
                        this.customerDetails.sourceOfWealth &&
                        this.customerDetails.sourceOfWealth.evidenced
                            ? this.customerDetails.sourceOfWealth.evidenced
                            : 'N/A',
                },
                {
                    field: 'IF OTHER SOURCE OF FUNDS',
                    value:
                        this.customerDetails &&
                        this.customerDetails.sourceOfWealth &&
                        this.customerDetails.sourceOfWealth.OtherEvidenced
                            ? this.customerDetails.sourceOfWealth.OtherEvidenced
                            : 'N/A',
                }
            )
            this.sourceOfFunds.push(
                {
                    field: 'SOURCE OF WEALTH - EACH ITEM CHECKED SHOULD BE APPROPRIATELY EVIDENCED',
                    value:
                        this.customerDetails &&
                        this.customerDetails.sourceOfFunds &&
                        this.customerDetails.sourceOfFunds.evidenced
                            ? this.customerDetails.sourceOfFunds.evidenced
                            : 'N/A',
                },
                {
                    field: 'IF OTHER SOURCE OF FUNDS',
                    value:
                        this.customerDetails &&
                        this.customerDetails.sourceOfFunds &&
                        this.customerDetails.sourceOfFunds.OtherEvidenced
                            ? this.customerDetails.sourceOfFunds.OtherEvidenced
                            : 'N/A',
                }
            )
        },
    },
}
</script>
