<template>
    <b-form class="step-form" @submit.stop.prevent="onSubmit">
        <div class="row">
            <div class="col-lg-12">
                <h3>Step 1: Upload Documents</h3>
            </div>
            <div class="col-lg-8">
                <div class="row form-options">
                    <div class="col-lg-6">
                        <identity-type
                            :data-segment-id="dataSegmentId"
                            :disabled="false"
                        ></identity-type>
                    </div>
                    <div class="col-lg-6">
                        <cropper ref="cropper"></cropper>
                    </div>
                    <!--                    <div class="col-lg-6">-->
                    <!--                        <identity-document></identity-document>-->
                    <!--                    </div>-->
                    <div class="col-lg-6">
                        <utility-bill></utility-bill>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <base-button
                            btn-type="submit"
                            btn-variant="primary"
                            btn-label="CONTINUE"
                            :class="loading ? 'disabled' : ''"
                            :disabled="loading"
                        ></base-button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-md-0 form-options">
                <b-form-group
                    label="SAMPLE PHOTO ID DOCUMENT"
                    label-for="sampleId"
                >
                    <img
                        style="max-width: 270px"
                        src="@/assets/images/sample-id.png"
                    />
                </b-form-group>
            </div>
        </div>
    </b-form>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import request from '@/utils/request'
import _ from 'lodash'

import IdentityType from '@/components/registration/IdentityType.vue'
//import IdentityDocument from '@/components/registration/IdentityDocument.vue'
import UtilityBill from '@/components/registration/UtilityBill.vue'
import Cropper from '@/components/registration/Cropper.vue'
import resource from '@/api/resource'
const viewBrandingApi = new resource('configurations/branding')

export default {
    /*
    |--------------------------------------------------------------------------
    | Component > components
    |--------------------------------------------------------------------------
    */
    components: {
        IdentityType,
        Cropper,
        //IdentityDocument,
        UtilityBill,
    }, // End of Component > components

    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: {}, // End of Component > props

    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {
            dataFetch: false,
        }
    }, // End of Component > data

    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapState({
            userOcr: (state) => state.registration.useOcr,
        }),

        ...mapGetters(['dataSegmentId', 'loading', 'form']),

        dataSegmentId() {
            if (this.$route.params.dataSegmentId) {
                return this.$route.params.dataSegmentId
            }
            return this.$store.getters.dataSegmentId
        },
    }, // End of Component > computed

    /*
    |--------------------------------------------------------------------------
    | Component > watch
    |--------------------------------------------------------------------------
    */

    watch: {
        /**
         * Handle when the file is uploaded successfully
         *
         * @return {void}
         */
        async 'form.documentInfo.identity.fileName'(value) {
            // check if the value is not empty
            // and perform action accordintly
            // if (this.userOcr && value != null && value != undefined) {
            try {
                const formData = new FormData()
                formData.append(
                    'filePath',
                    `${process.env.VUE_APP_API_URL}files/customers/${value}`
                )
                formData.append('type', 'id')

                const headers = {
                    'Content-Type': 'multipart/form-data',
                }
                const { data } = await request.post('ocr/', formData, {
                    headers,
                })

                if (
                    ['upload-document', 'record-video'].includes(
                        this.$route.name.toString()
                    )
                ) {
                    this.$store.commit('updateField', {
                        key: 'identityInfo.number',
                        value: data.customer_data.idnumber,
                    })

                    this.$store.commit('updateField', {
                        key: 'identityInfo.expiryDate',
                        value: this.$moment(
                            data.customer_data.dateofexpiry,
                            'D-M-Y'
                        ).isValid()
                            ? this.$moment(
                                  data.customer_data.dateofexpiry,
                                  'D-M-Y'
                              ).format('YYYY-MM-DD')
                            : '',
                    })

                    let fullName = _.split(data.customer_data.name, ' ')

                    let firstName = fullName.shift()
                    let lastName = fullName.pop()
                    let middleName = fullName.join(' ')

                    this.$store.commit('updateField', {
                        key: 'basicInfo.firstName',
                        value: firstName,
                    })
                    this.$store.commit('updateField', {
                        key: 'basicInfo.middleName',
                        value: middleName,
                    })
                    this.$store.commit('updateField', {
                        key: 'basicInfo.lastName',
                        value: lastName,
                    })
                    this.$store.commit('updateField', {
                        key: 'basicInfo.dateOfBirth',
                        value: this.$moment(
                            data.customer_data.dob,
                            'D-M-Y'
                        ).isValid()
                            ? this.$moment(
                                  data.customer_data.dob,
                                  'D-M-Y'
                              ).format('YYYY-MM-DD')
                            : '',
                    })
                }
            } catch (error) {
                console.log(error)
            }
            this.$store.commit('setLoading', false)
            // }
        }, // End of user() method
    }, // End of Component > methods

    /*
    |--------------------------------------------------------------------------
    | Component > mounted
    |--------------------------------------------------------------------------
    */
    mounted() {
        this.getBrandingData()
        console.log('params')
        this.getFormData()
        //save token in the state

        console.log(this.$route.params)
    }, // End of Component > watch

    /*
    |--------------------------------------------------------------------------
    | Component > methods
    |--------------------------------------------------------------------------
    */
    methods: {
        /**
         * Handle when the form has been submitted
         *
         * @return {void}
         */
        async onSubmit() {
            // validate the form fields
            const result = await this.$validator.validateAll()

            // Check if validation fails
            if (result) {
                // this.$store.commit('setLoading', true)
                console.log('public registration')
                console.log(this.$route.meta.publicRegistration)

                if (this.$route.meta.publicRegistration === true) {
                    this.$router.push({
                        name: 'deep-registration-record-video',
                        params: {
                            dataSegmentId: this.dataSegmentId,
                            token: this.$route.params.token,
                        },
                    })
                } else {
                    this.$router.push('/register-customer/record-video')
                }
            } else {
                this.$store.commit('setError', this.errors.all()[0])
            }
        }, // End of onSubmit() method

        async getBrandingData() {
            let { data } = await viewBrandingApi.list()
            this.$store.commit('setDisplaySetting', data.data)
        },

        async getFormData() {
            try {
                //fetch data from the url & send request
                let { data } = await request({
                    url: `/customers/fetch`,
                    method: 'get',
                    params: {
                        token: this.$route.params.token,
                    },
                })

                console.log('TempCustomer: ' + JSON.stringify(data.data))

                console.log('IDENTITY TYPE : ' + data.data.identityInfo.type)

                if (data.data.identityInfo.type != null) {
                    this.$store.commit('updateField', {
                        key: 'identityInfo.type',
                        value: data.data.identityInfo.type,
                    })
                }
                //Mapping fields

                // token
                this.$store.commit('updateField', {
                    key: 'basicInfo.token',
                    value: this.$route.params.token,
                })

                // basic info
                this.$store.commit('updateField', {
                    key: 'basicInfo.firstName',
                    value: data.data.firstName,
                })

                this.$store.commit('updateField', {
                    key: 'contactInfo.email',
                    value: data.data.contactInfo.email,
                })

                this.$store.commit('updateField', {
                    key: 'contactInfo.confirmEmail',
                    value: data.data.contactInfo.email,
                })

                if (data.data.countryOfResidenceId != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.countryOfResidenceId',
                        value: data.data.countryOfResidenceId,
                    })
                }
                console.log('data.data.profileType ', data.data.profileType)
                console.log('data.data ', data.data)
                if (data.data.profileType != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.profileType',
                        value: data.data.profileType,
                    })
                }

                if (data.data.countryOfResidence.title != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.countryOfResidence',
                        value: data.data.countryOfResidence.title,
                    })
                }

                if (data.data.genderId != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.genderId',
                        value: data.data.genderId,
                    })
                }

                if (data.data.dateOfBirth != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.dateOfBirth',
                        value: data.data.dateOfBirth,
                    })
                }

                if (data.data.nationalityId != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.nationalityId',
                        value: data.data.nationalityId,
                    })
                }

                console.log(
                    'Islifetime : ',
                    data.data.identityInfo.isLifetimeExpiry
                )
                if (data.data.nationality.title != null) {
                    this.$store.commit('updateField', {
                        key: 'basicInfo.nationality',
                        value: data.data.nationality.title,
                    })
                }
                console.log('DATA FETCH : ' + this.dataFetch)

                //contact info

                if (data.data.contactInfo.address != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.address',
                        value: data.data.contactInfo.address,
                    })
                }

                if (data.data.contactInfo.stateId != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.stateId',
                        value: data.data.contactInfo.stateId,
                    })
                }

                if (data.data.contactInfo.city != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.city',
                        value: data.data.contactInfo.city,
                    })
                }

                if (data.data.contactInfo.postalCode != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.postalCode',
                        value: data.data.contactInfo.postalCode,
                    })
                }

                if (data.data.contactInfo.isdCode != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.isdCode',
                        value: data.data.contactInfo.isdCode,
                    })
                }

                if (data.data.contactInfo.isdCountryCodeId != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.isdCountryCodeId',
                        value: data.data.contactInfo.isdCountryCodeId,
                    })
                }

                console.log(
                    'StateID: ' + data.data.contactInfo.isdCountryCodeId
                )
                console.log(
                    'StateID: ' +
                        this.$store.state.registration.form.contactInfo
                            .isdCountryCodeId
                )

                if (data.data.contactInfo.phoneNumber != null) {
                    this.$store.commit('updateField', {
                        key: 'contactInfo.phoneNumber',
                        value: data.data.contactInfo.phoneNumber,
                    })
                }

                if (data.data.occupationInfo.workTypeId != null) {
                    this.$store.commit('updateField', {
                        key: 'occupationInfo.workTypeId',
                        value: data.data.occupationInfo.workTypeId,
                    })
                }

                if (data.data.occupationInfo.industryId != null) {
                    this.$store.commit('updateField', {
                        key: 'occupationInfo.industryId',
                        value: data.data.occupationInfo.industryId,
                    })
                }

                if (data.data.occupationInfo.taxId != null) {
                    this.$store.commit('updateField', {
                        key: 'occupationInfo.taxId',
                        value: data.data.occupationInfo.taxId,
                    })
                }

                //Identity info

                if (data.data.identityInfo.type != null) {
                    this.$store.commit('updateField', {
                        key: 'identityInfo.type',
                        value: data.data.identityInfo.type,
                    })
                }

                if (data.data.identityInfo.number != null) {
                    this.$store.commit('updateField', {
                        key: 'identityInfo.number',
                        value: data.data.identityInfo.number,
                    })
                }
                if (data.data.identityInfo.isLifetimeExpiry != null) {
                    console.log(
                        'Islifetime : ',
                        data.data.identityInfo.isLifetimeExpiry
                    )
                    this.$store.commit('updateField', {
                        key: 'identityInfo.isLifetimeExpiry',
                        value: data.data.identityInfo.isLifetimeExpiry,
                    })
                }

                if (data.data.identityInfo.expiryDate != null) {
                    this.$store.commit('updateField', {
                        key: 'identityInfo.expiryDate',
                        value: data.data.identityInfo.expiryDate,
                    })
                }

                console.log(data.data)
            } catch (error) {}
            this.$store.commit('setLoading', false)
        }, // End of getRecords() method
    }, // End of Component > mounted
} // End of export default
</script>
