html {
    font-size: 16px;
}
body {
    font-family: $font_regular;
    background: $body-bg;
    color: $body-color;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    overflow-x: hidden;
    @include mobile {
        font-size: 14px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $grey-darkest;
    font-family: $font_bold;
}
p {
    font-size: 0.875rem;
    @include windowS {
        font-size: 0.75rem;
    }
}
strong {
    font-family: $font-bold;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: underline;
    color: $secondary;
    &:hover {
        color: $secondary;
    }
}
hr {
    border-color: $grey-xlite;
}
.font-bold {
    font-family: $font-bold;
}
.middle-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &.flex-start {
        justify-content: flex-start;
    }
}
.container {
    max-width: 1215px;
    &.full {
        max-width: 100%;
    }
    @include Desktop1380 {
        max-width: 1170px;
        padding: 0px 20px;
    }
    @include windowS {
        max-width: 1140px;
        padding: 0px 75px;
    }
    @include tabletL {
        padding: 0px 75px;
    }
    @include tablet {
        padding: 0px 25px;
    }
}

.main-session-start {
    .main-content {
        @include tabletL {
            padding-top: 0px;
        }
    }
}
.main-content {
    height: 100vh;
}

.disable {
    color: $dark;
    pointer-events: none;
}

.front-site {
    .main-content {
        @include tabletL {
            padding-top: 52px;
        }
    }
}

.no-record-found {
    display: table;
    width: 100%;
    min-height: 320px;
    background: #fff;
    // border-top: solid 1px $border-color;
    .middle-align {
        display: table-cell;
        vertical-align: middle;
        img {
            height: 90px;
            margin: auto;
            margin-bottom: 12px;
        }
        p {
            @include font-size(0.9);
            text-align: center;
            margin-bottom: 0;
        }
    }
    &.table-spinner {
        background: none !important;
    }
    &.no-screening-hits {
        min-height: 250px;
    }
}

.left-menu-show {
    display: none;
    @include mobile {
        display: block;
        position: fixed;
        z-index: 99;
        width: 37px;
        height: auto;
        padding: 0 12px 0 0;
        border-radius: 4px;
        left: 15px;
        top: 12px;
        border-radius: 0;
        border: none;
        border-right: solid 1px $grey-xlite;
        top: 0;
        height: 42px;
        img {
            position: relative;
            top: 10px;
        }
    }
}

// .tabs {
//     .tab-content {
//         background-color: #fff;
//         margin-top: 0 !important;
//         padding: 23px 32px !important;
//     }
//     .nav-tabs {
//         .nav-link {
//             padding: 14px 16px 22px 16px;
//             color: #7f8fa4;
//             background: #ebebf2;
//             margin-right: 10px;
//             border-radius: 8px 8px 0px 0px;
//             text-decoration: none;
//             border-color: transparent !important;
//             &.active {
//                 background-color: #fff;
//                 color: $body-color;
//                 font-family: $font_medium;
//             }
//         }
//     }
// }

.show-spinner {
    span {
        visibility: hidden;
    }
    .loader {
        display: block;
    }
}

.forgot-password-link {
    position: relative;
    top: 3px;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}

textarea {
    &::-webkit-scrollbar-track {
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cfd4d9;
        border-radius: 51px;
    }
}

.user-avatar {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent;
    overflow: hidden;
    border-radius: 100% !important;
}

.pink-color {
    color: $pink;
}
.secondary-color {
    color: $secondary;
}
/*
    Status bults
*/
.status-blts {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: 8px;
    top: 8px;
    background: transparent;
    z-index: 9;
    &.default {
        background: #9d9f8f;
    }
    &.active {
        background: $primary;
    }
    &.pending {
        background: $yellow;
    }
    &.danger,
    &.blocked {
        background: $danger;
    }
}
// scroll ui
.scrollable {
    height: calc(100% - 115px);
    overflow-y: auto;
    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 51px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cfd4d9;
        border-radius: 51px;
    }
}

// scroll style

#style-2::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: #fff;
}

#style-2::-webkit-scrollbar {
    width: 6px;
    background-color: #ced3d8;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ced3d8;
}

#style-3::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: #fff;
}

#style-3::-webkit-scrollbar {
    width: 3px;
    background-color: #ced3d8;
}

#style-3::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ced3d8;
}

.text-ellipsis {
    width: 100%;
    padding-right: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 70px;
}

.model-medium {
    .modal-md {
        max-width: 480px;
    }
}

$spaceamounts: (
    0,
    5,
    10,
    15,
    20,
    24,
    25,
    30,
    35,
    40,
    45,
    50,
    75,
    100,
    130
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    @each $side in $sides {
        body {
            .m-#{str-slice($side, 0, 1)}-#{$space} {
                margin-#{$side}: #{$space}px !important;
            }

            .p-#{str-slice($side, 0, 1)}-#{$space} {
                padding-#{$side}: #{$space}px !important;
            }
        }
    }
}

// heading sizes
.session-main {
    h2 {
        font-size: 1.5rem;
        @include tabletL {
            font-size: 20px;
        }
        @include tabletL {
            font-size: 18px;
        }
        @include tablet {
            font-size: 16px;
        }
    }
    h3 {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    h4 {
        font-size: 0.875rem;
    }
    h5 {
        font-size: 0.75rem;
    }
}
.not-allowed {
    cursor: not-allowed;
}

.color-pallet {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.truncate-title {
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pointer-none {
    pointer-events: none;
}

.text-decoration-none {
    text-decoration: none;
}

.middle-aligner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-type-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.status-view {
    color: #fff;
    border-radius: 16px;
    height: auto;
    text-align: center;
    font-size: $font-size-base - 0.04;
    padding: 9px 10px;
    min-width: 120px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 130px;
    font-family: $font-light;
    i {
        font-size: 14px;
        vertical-align: bottom;
        position: relative;
        &.icon-wrong {
            font-size: 12px !important;
        }
    }

    span {
        position: relative;
        top: 0px;
        margin-left: 8px;
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
    }

    &.pending,
    &.medium-risk {
        background-color: #f4c200;
        i {
            top: 2px;
        }
    }

    &.approved,
    &.low-risk {
        background-color: #00c535;
        i {
            font-size: 0.625rem;
        }
    }
    &.rejected,
    &.high-risk {
        background-color: #c91f37;
        i {
            font-size: 0.6875rem;
            &.icon-wrong {
                font-size: 1rem;
            }
        }
    }
    &.locked {
        background-color: #00af2f;
        i {
            font-size: 0.6875rem;
        }
    }
    &.inapproved {
        background-color: $grey-lite;
        i {
            font-size: 0.925rem;
            position: relative;
            top: 2px;
            left: 1px;
        }
    }
    &.sanctioned-risk {
        background-color: $body-color;
        i {
            font-size: 0.925rem;
            position: relative;
            top: 2px;
            left: 1px;
        }
    }
    @include mobile {
        height: 34px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.text-capitalize {
    text-transform: capitalize;
}
.toasted {
    &.bubble {
        &.error {
            background: $danger !important;
        }
    }
}
.d-inline-block {
    display: inline-block;
}
.text-right {
    text-align: right;
}
.overflow-hidden {
    overflow: hidden;
}
.visibility-hidden {
    visibility: hidden;
}
.mt-minus-22 {
    margin-top: -22px;
}
.mt-12 {
    margin-top: 12px;
}
.mb-0-mobile {
    @include mobile {
        margin-bottom: 0;
    }
}

// FireFox Browser css

@-moz-document url-prefix() {
    .no-record-found {
        min-height: 320px;
        background: #fff;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .not-found {
        .not-found-panel {
            .btn.back-to-login-btn {
                span {
                    line-height: inherit;
                }
            }
        }
    }
}
// FireFox Browser css end
