/*Timeline*/

.timeline {
    list-style: none;
    position: relative;
    margin: 70px auto;
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    @include mobile {
        margin-top: 40px;
    }
    li {
        position: relative;
        @include mobile {
            margin: 25px auto;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
            margin-top: -14px;
            li {
                &:nth-child(even) {
                    margin-top: -55px;
                    margin-bottom: -20px;
                    @include mobile {
                        margin: 0;
                    }
                    .timeline-movement {
                    }
                    .timeline-item {
                        margin-left: 54%;
                        &:before {
                            right: auto;
                            left: -8.2%;
                        }
                    }
                }

                &:last-child {
                    padding-bottom: 35px;
                    @include mobile {
                        padding-bottom: 0;
                    }
                }

                .timeline-item {
                    @include mobile {
                        margin-left: 0px !important;
                        margin-top: 0px;
                    }
                }
            }
        }
    }

    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: ' ';
        width: 1px;
        background-color: $border-color;
        left: 50%;
        margin-left: -1.5px;
    }

    &:after {
        position: absolute;
        content: 'start';
        background-color: $border-color;
        width: 55px;
        border-radius: 100%;
        height: 55px;
        text-align: center;
        padding: 21px 0 10px;
        color: $white;
        text-transform: uppercase;
        left: 50%;
        font-size: 12px;
        right: auto;
        margin-left: -27px;
        bottom: -30px;

        @include mobile {
            bottom: -80px;
        }
    }

    .clearFix {
        clear: both;
        height: 0;
    }

    .timeline-badge {
        color: $white;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -13px;
        background-color: $white;
        z-index: 6;
        border-radius: 50%;
        border: 1px solid $border-color;

        &.timeline-future-movement {
            background-color: $body-bg;
            height: auto;
            width: auto;
            top: 0;
            border: none;
            position: relative;
            border-radius: 0;
            display: table;
            margin: 0 auto;
            left: 0;
            padding: 10px 0;
            @include mobile {
                top: -6px;
            }
            h4 {
                font-size: 1.125rem;
                font-family: $font_medium;
                @include mobile {
                    margin-bottom: 0;
                    font-size: 1rem;
                }
            }

            p {
                color: $body-color;
                position: absolute;
                top: 60px;
                left: 42px;
            }
        }
    }

    .timeline-movement {
        position: relative;
        margin-bottom: 33px;
        @include mobile {
            margin-bottom: 0;
        }
        .timeline-item {
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                height: 1px;
                background-color: $border-color;
                right: 2px;
                top: 50%;
                @include mobile {
                    display: none;
                }
            }
            .timeline-panel {
                border-radius: $card-border-radius;
                background-color: $white;
                display: flex;
                padding: 32px;
                position: relative;
                -webkit-box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
                box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
                @include tablet {
                    clear: both;
                    display: block;
                    overflow: hidden;
                    padding: 15px;
                }
                .tags-section {
                    margin-top: 12px;
                    display: inline-block;
                    width: 100%;
                }

                .profile-pic {
                    width: 42px;
                    height: 42px;
                    float: left;
                    background-size: cover;
                    background-position: top center;
                    border-radius: 100%;
                    @include tablet {
                        float: left;
                        margin: 0 auto 12px;
                    }
                }

                .timeline-details {
                    width: calc(100% - 42px);
                    float: right;
                    padding-left: 12px;
                    @include tablet {
                        width: 100%;
                        float: none;
                        padding: 0;
                        text-align: left;
                        position: relative;
                        padding-top: 55px;
                        .timeline-details-username,
                        .timeline-details-date {
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            top: 0;
                            padding-left: 55px;
                        }
                        .timeline-details-date {
                            top: 37px;
                        }
                    }
                    h5 {
                        font-size: 0.875rem;
                        color: $body-color;
                        margin-bottom: 2px;
                    }

                    span {
                        color: $nav-color;
                        font-size: 0.75rem;
                        font-family: $font_regular;
                    }

                    p {
                        margin: 16px 0 12px 0;
                        float: left;
                        line-height: 1.5;
                        width: 100%;
                    }

                    .date-content {
                        margin: 0;
                        font-size: 0.75rem;
                    }

                    .float-right {
                        @include mobile {
                            float: left !important;
                        }
                    }
                }
            }
        }
    }

    .timeline-movement-top {
        height: auto;
        margin-bottom: 25px;
        @include mobile {
            margin-bottom: 0;
        }
    }
}

.export-timeline {
    @include mobile {
        .btn-secondary {
            position: relative !important;
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }
    }
}

.timeline-talks {
    span {
        display: block;
        margin-top: 12px;
        font-size: 0.875rem !important;
        color: $body-color !important;
        margin-bottom: 16px;
    }
}

.timeline-upload-file {
    width: 100%;
    @include tablet {
        text-align: left;
    }
    .file-section {
        width: 22px;
        float: left;
    }

    .file-attach {
        width: calc(100% - 22px);
        float: left;

        .btn {
            font-size: 0.875rem;
            color: $secondary;
            padding: 5px 12px 6px;
            height: auto;
        }
    }
}
