.auth-wrapper {
    height: auto !important;
    .inner {
        width: 100%;
    }
    .logo {
        width: auto;
        display: table;
        height: auto;
        // margin: 3% auto 30px;
        img {
            height: auto;
            max-height: 52px;
        }
        @include mobile {
            // margin: 15px auto 20px;
            img {
                max-height: 30px;
            }
        }
    }
    .auth-heading {
        font-size: 1.375rem;
        font-family: $font_medium;
        text-align: center;

        @include mobile {
            font-size: 18px;
        }

        span {
            margin-top: 10px;
            display: block;
            font-size: 0.875rem;
            font-family: $font_light;
            color: $grey-medium;
            line-height: 20px;

            @include mobile {
                font-size: 13px;
            }

            i {
                color: $secondary;
                font-style: normal;
            }
        }
    }
    .auth-body {
        margin-top: 24px;
    }
    .email-sent-icon {
        max-width: 76px;
        margin: 12px auto 35px;
        display: block;
    }

    .forgot-link {
        float: right;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        top: 5px;
        @include mobile {
            top: 0px;
        }
    }
    .back-to-login-btn {
        margin-right: auto;
        margin-left: auto;
        span {
            line-height: 2;
        }
    }
    .contact-link {
        margin-top: 25px;
        display: block;
        position: relative;

        @include mobile {
            font-size: 13px;
        }

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        // &:after {
        //     content: '';
        //     width: 32px;
        //     margin: 15px auto 15px;
        //     height: 4px;
        //     background: #fff;
        //     border-radius: 2px;
        //     display: block;
        //     @include mobileXs {
        //         display: none;
        //     }
        // }
        &.register-now {
            margin-top: 0px;
            &:after {
                display: none;
            }
        }
        @include mobile {
            margin-bottom: 10px;
        }
    }
    @include mobileSHeight {
        flex-direction: column;
    }
}
