.custom-datepicker {
    .mx-datepicker {
        width: 100%;
        .mx-input-wrapper {
            position: relative;
            top: -11px;
            &:hover {
                .mx-clear-wrapper {
                    display: none;
                }
            }
        }
    }
    .mx-input {
        border: none;
        height: 38px;
        padding: 0;
        line-height: 1.5;
        box-shadow: none;
        cursor: pointer;
    }
    svg {
        &.mx-input-append {
            display: none;
        }
        text {
            display: none;
        }
    }
    // .mx-calendar-icon {
    //     background-image: url('assets/images/calendar.svg') !important;
    //     background-position: 50%;
    //     background-repeat: no-repeat;
    //     stroke: none;
    // }
    .mx-calendar-content {
        .cell {
            &.actived {
                background-color: $primary !important;
            }
            &:hover {
                background-color: $secondary !important;
                color: #fff;
            }
        }
    }
    .mx-panel-date {
        td {
            &.today {
                // color: $primary !important;
            }
        }
    }
}
