<template>
    <div>
        <div>
            <div>
                <div>
                    <div class="">
                        <p class="info mb-4">
                            <i class="icon-error_outline"></i>Hello user, once
                            you press the CONTINUE button, a link to this form
                            will be sent to the following email :
                            <strong>{{ formData.email }}</strong> .
                        </p>
                        <b-form
                            class="step-form"
                            @submit.stop.prevent="onSubmit"
                        >
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3>Company Information</h3>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="fieldset-5"
                                                label="Company Reference"
                                                label-for="input-5"
                                                class="required-field"
                                            >
                                                <b-form-input
                                                    id="input-5"
                                                    v-model="
                                                        formData.referenceNumber
                                                    "
                                                    v-validate="{
                                                        required: true,
                                                    }"
                                                    name="Reference Number"
                                                    placeholder="Enter reference number"
                                                ></b-form-input>
                                            </b-form-group>
                                        </div>
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="input-group-6"
                                                label="Customer Type"
                                                label-for="input-6"
                                            >
                                                <b-form-select
                                                    id="input-6"
                                                    v-model="
                                                        formData.customerType
                                                    "
                                                    v-validate="{
                                                        required: true,
                                                    }"
                                                    :options="customerType"
                                                    required
                                                    class="
                                                        form-control
                                                        custom-select
                                                    "
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>
                                    </div>
                                    <!--                <hr>-->

                                    <div class="col-lg-12">
                                        <div class="form-border"></div>
                                    </div>
                                    <h3>Individual's Information</h3>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="fieldset-1"
                                                label="First Name"
                                                label-for="input-1"
                                                class="required-field"
                                            >
                                                <b-form-input
                                                    id="input-1"
                                                    v-model="formData.name"
                                                    v-validate="{
                                                        required: true,
                                                    }"
                                                    name="First Name"
                                                    placeholder="Enter first name"
                                                ></b-form-input>
                                            </b-form-group>
                                        </div>
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="fieldset-2"
                                                label="Last Name"
                                                label-for="input-2"
                                                class="required-field"
                                            >
                                                <b-form-input
                                                    id="input-2"
                                                    v-model="formData.lastName"
                                                    v-validate="{
                                                        required: true,
                                                    }"
                                                    name="Last Name"
                                                    placeholder="Enter last name"
                                                ></b-form-input>
                                            </b-form-group>
                                        </div>
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="fieldset-3"
                                                label="Email"
                                                label-for="input-3"
                                                class="required-field"
                                            >
                                                <b-form-input
                                                    id="input-4"
                                                    v-model="formData.email"
                                                    v-validate="{
                                                        required: true,
                                                        email: true,
                                                    }"
                                                    name="Email"
                                                    placeholder="Enter email address"
                                                ></b-form-input>
                                            </b-form-group>
                                        </div>
                                        <!-- confirm email -->
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="fieldset-7"
                                                label="Confirm Email"
                                                label-for="input-7"
                                                class="required-field"
                                            >
                                                <b-form-input
                                                    id="input-7"
                                                    v-model="
                                                        formData.confirmEmail
                                                    "
                                                    v-validate="{
                                                        required: true,
                                                        email: true,
                                                    }"
                                                    name="Confirm Email"
                                                    placeholder="Confirm email address"
                                                ></b-form-input>
                                            </b-form-group>
                                        </div>
                                        <div class="col-lg-4">
                                            <b-form-group
                                                id="fieldset-4"
                                                label="Phone"
                                                label-for="input-4"
                                                class="required-field"
                                            >
                                                <b-form-input
                                                    id="input-4"
                                                    v-model="formData.phone"
                                                    v-validate="{
                                                        required: true,
                                                    }"
                                                    type="number"
                                                    name="Phone"
                                                    placeholder="Enter phone"
                                                ></b-form-input>
                                            </b-form-group>
                                        </div>
                                    </div>
                                    <base-button
                                        btn-type="submit"
                                        btn-variant="primary"
                                        btn-label="CONTINUE"
                                        class="mr-3"
                                        :class="loading ? 'disabled' : ''"
                                        :disabled="loading"
                                    ></base-button>
                                </div>
                            </div>
                        </b-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import request from '@/utils/request'

export default {
    components: [],
    data() {
        return {
            formData: {
                name: '',
                lastName: '',
                email: '',
                confirmEmail: '',
                phone: '',
                referenceNumber: '',
                customerType: null,
            },
            customerType: [
                { text: 'Select Customer Type', value: null },
                'Authorized signatory',
                'Director',
                'Shareholder',
            ],
        }
    },
    computed: {
        ...mapGetters(['dataSegmentId', 'loading', 'form']),
    }, // End of Component > computed

    methods: {
        async onSubmit() {
            //  this.$router.push('/register-customer/full-info/finish')

            // const result = await this.$validator.validateAll()
            const result = true
            if (result) {
                this.$store.commit('updateField', {
                    key: 'identityInfo.type',
                    value: 'id',
                })

                //sending data to save-customer API
                console.log('success')
                this.$store.commit('updateField', {
                    key: 'basicInfo.firstName',
                    value: this.formData.name,
                })
                this.$store.commit('updateField', {
                    key: 'basicInfo.lastName',
                    value: this.formData.lastName,
                })
                this.$store.commit('updateField', {
                    key: 'contactInfo.email',
                    value: this.formData.email,
                })
                this.$store.commit('updateField', {
                    key: 'contactInfo.phone',
                    value: this.formData.phone,
                })
                console.log('states')

                //  API call

                this.$store.commit('setLoading', true)

                let registrationUrl = '/customers/save-customer'

                try {
                    const formData = this.$store.state.registration.form
                    formData.dataSegmentId = this.dataSegmentId

                    const { data } = await request({
                        url: registrationUrl,
                        method: 'post',
                        data: formData,
                    })

                    console.log(data)
                    //
                    this.$store.commit('updateField', {
                        key: 'idenfoId',
                        value: 303, // DUMMY VALUE KINDLY CHANGE IT TO (data.data.idenfoId)
                    })

                    if (this.$route.meta.publicRegistration === true) {
                        this.$router.push({
                            name: 'public-registration-finish',
                            params: {
                                dataSegmentId: this.dataSegmentId,
                            },
                        })
                    } else {
                        this.$router.push('/register-customer/full-info/finish')
                    }
                } catch (errors) {
                    this.$store.commit('setError', errors)
                }
                this.$store.commit('setLoading', false)
            } else {
                this.$store.commit('setError', this.errors.all()[0])
            }
        },
    },
} // End of export default
</script>
