<template>
    <b-form class="step-form" @submit.stop.prevent="onSubmit">
        <b-modal
            ref="modalError"
            size="md"
            title="Disclaimer"
            hide-footer
            hide-header-close
            :click-to-close="false"
            :no-close-on-backdrop="true"
            :no-close-on-esc="true"
        >
            <div class="modal-body-disclaimer">
                <p class="paragraph">
                    Hi
                    <span style="text-transform: capitalize">{{
                        user.firstName
                    }}</span
                    >! <br /><br />
                    It looks like you've hit the limit on the number of profiles
                    included in your current pricing plan :( To continue to
                    onboard another profile, you will have to purchase the next
                    package. Would you like to upgrade now?
                </p>
                <div class="row justify-content-center">
                    <div class="m-2">
                        <b-button variant="primary" @click="payments"
                            >Yes! Take me to Payments</b-button
                        >
                    </div>
                    <div class="m-2">
                        <b-button variant="secondary" @click="currentPlan"
                            >No! I am sticking to my current plan</b-button
                        >
                    </div>
                </div>
            </div>
        </b-modal>
        <div v-if="!showPageLoader" class="row">
            <div class="col-lg-12">
                <p class="info mb-4">
                    <i class="icon-error_outline"></i>Hello user, once you press
                    the SEND LINK button at the bottom, a link to this form will
                    be sent to the following email :
                    <strong>{{
                        this.$store.state.registration.form.contactInfo.email
                    }}</strong>
                    .
                </p>
                <div class="row">
                    <div
                        v-for="(field, index) in fields"
                        :key="index"
                        :class="{
                            [field.class]: true,
                            'col-lg-12': field.type == 'heading',
                            'col-md-4':
                                field.type !== 'heading' && !field.class,
                            'col-md-8':
                                (index == 4 || index == 6) &&
                                section == 'account-info',
                        }"
                    >
                        <div
                            v-if="field.type == 'heading' && index > 0"
                            class="form-border"
                        ></div>

                        <component
                            :is="field.type"
                            :field="field"
                            :data-segment-id="dataSegmentId"
                        ></component>
                    </div>
                    <div class="col-lg-12"><div class="form-border"></div></div>
                </div>
                <base-button
                    btn-type="submit"
                    btn-variant="primary"
                    btn-label="SEND LINK"
                    class="mr-3"
                    :class="loading ? 'disabled' : ''"
                    :disabled="loading"
                ></base-button>
                <span v-if="loading" class="secondary-color">
                    Please wait. We're processing your request...</span
                >
            </div>
        </div>
        <!-- When data is loading -->
        <base-table-spinner v-if="showPageLoader"></base-table-spinner>
    </b-form>
</template>
<script>
import { mapGetters } from 'vuex'
import { mapState } from 'vuex'

import request from '@/utils/request'

import Heading from '@/components/registration/Heading.vue'
import TextField from '@/components/registration/TextField.vue'
import TextArea from '@/components/registration/TextArea.vue'
import DatePicker from '@/components/registration/DatePicker.vue'
import List from '@/components/registration/List.vue'
import Dropdown from '@/components/registration/Dropdown.vue'
import Radio from '@/components/registration/Radio.vue'
import Checkbox from '@/components/registration/Checkbox.vue'
import PhoneNumber from '@/components/registration/PhoneNumberWithoutValidation.vue'
import IdentityType from '@/components/registration/IdentityType.vue'
import IdentityDocumentExpiry from '@/components/registration/IdentityDocumentExpiry.vue'
import Country from '@/components/registration/Country.vue'
import Nationality from '@/components/registration/Nationality.vue'
import TaxId from '@/components/registration/TaxId.vue'
import WorkType from '@/components/registration/WorkType.vue'
import Industry from '@/components/registration/Industry.vue'

// const apiUrl = process.env.VUE_APP_API_URL
// import axios from 'axios'

import resource from '@/api/resource'
const dataSegmentApi = new resource('users/data-segment')

export default {
    /*
    |--------------------------------------------------------------------------
    | Component > components
    |--------------------------------------------------------------------------
    */
    components: {
        Heading,
        TextField,
        TextArea,
        DatePicker,
        List,
        Dropdown,
        Radio,
        Checkbox,
        PhoneNumber,
        IdentityType,
        IdentityDocumentExpiry,
        Country,
        Nationality,
        TaxId,
        WorkType,
        Industry,
    }, // End of Component > components

    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: {}, // End of Component > props

    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {
            section: 'register-setup-profile',
            fields: [],
            showPageLoader: true,
            counter: null,
            subscription: null,
            tier: null,
            query: {
                startAt: 1,
                keyword: '',
                perPage: 10,
                status: null,
                sortBy: 'idenfoId',
                sortOrder: 'desc',
            },
            path: 'users/temp-applications',
            resourceApi: null,
            deepLinkRegisteredCount: 0,
        }
    }, // End of Component > data

    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapState({
            restrictDuplicateCustomers: (state) =>
                state.registration.restrictDuplicateCustomers,
        }),

        ...mapGetters([
            'loading',
            'dataSegmentId',
            'user',
            'hasScopes',
            'dataSegmentList',
        ]),

        // dataSegmentId() {
        //     if (this.$route.params.dataSegmentId) {
        //         return this.$route.params.dataSegmentId
        //     }
        //     return this.$store.getters.dataSegmentId
        // },
    }, // End of Component > mounted

    /*
    |--------------------------------------------------------------------------
    | Component > watch
    |--------------------------------------------------------------------------
    */
    watch: {
        dataSegmentId(value) {
            if (value) {
                this.getRecords()
            }
        },
    }, // End of Component > methods

    /*
    |--------------------------------------------------------------------------
    | Component > mounted
    |--------------------------------------------------------------------------
    */
    mounted() {
        // this.$store.commit('updateField', {
        //     key: 'identityInfo.type',
        //     value: 'id',
        // })

        this.getCounter()
        this.getRecords()
        // Check Profiles Remaining

        // Check Profiles Remaining
    }, // End of Component > computed

    /*
    |--------------------------------------------------------------------------
    | Component > created
    |--------------------------------------------------------------------------
    */
    created() {
        this.resourceApi = new resource(this.path)
    }, // End of Component > created

    /*
    |--------------------------------------------------------------------------
    | Component > methods
    |--------------------------------------------------------------------------
    */
    methods: {
        async getCounter() {
            let dataSegment = await dataSegmentApi.get(this.dataSegmentId)
            this.tier = dataSegment.data.data.tier
            this.subscription = dataSegment.data.data.subscription
            if (this.subscription == 'unpaid') {
                this.counter = 0
            } else {
                this.counter = dataSegment.data.data.counter
            }
            await this.getRecordsTempCustomer()
            let remainingProfiles =
                parseInt(this.tier) - this.deepLinkRegisteredCount
            console.log('REMAINING PROFILES', remainingProfiles)
            // // // console.log("remainingProfiles : ")
            // // // console.log("remainingProfiles : " + remainingProfiles)
            // // // console.log("tier : " + this.tier)
            // // // console.log("counter : " + this.counter)
            if (remainingProfiles == 0 || remainingProfiles < 0) {
                //     // alert('You dont have additional customer')
                this.$refs.modalError.show()
            }
        },
        /*
         *
         * Get Deep Link Data
         *
         */
        async getRecordsTempCustomer() {
            this.$store.dispatch(`setData`, [])
            this.$store.commit('showPageLoader', true)
            try {
                this.query.dataSegmentId = this.dataSegmentId
                let { data } = await this.resourceApi.list(this.query)
                if (data && data.data) {
                    if (data.data.length) {
                        this.deepLinkRegisteredCount = data.data.length
                        console.log(
                            'DEEP LINK COUNTER : ' +
                                this.deepLinkRegisteredCount
                        )
                        // Get all data in items
                        this.$store.dispatch(`setData`, data.data)
                    }
                }
                // False the page loader after the list has been loaded
                this.$store.commit('showPageLoader', false)
                this.$store.commit('setLoading', false)
            } catch (error) {
                this.$store.commit('showPageLoader', false)
                this.$store.dispatch(`setData`, [])
                this.$store.commit('setLoading', false)
                // this.$store.commit('setError', error)
            }
        }, // End methods > getRecordsTempCustomer()
        /**
         * Handle when the form has been submitted
         *
         * @return {void}
         */
        async onSubmit() {
            // const result = true

            console.log('FORM DATA')
            console.log(this.$store.state.registration.form)

            const result = await this.$validator.validateAll()
            // Check if validation fails
            if (result) {
                this.$store.commit('setLoading', true)

                let registrationUrl = '/customers/save-customer'
                if (this.$route.meta.publicRegistration === true) {
                    registrationUrl = '/customers/non-face-to-face'
                }

                try {
                    // this.$store.commit('updateField', {
                    //     key: 'identityInfo.type',
                    //     value: 'id',
                    // })

                    const formData = this.$store.state.registration.form
                    formData.dataSegmentId = this.dataSegmentId

                    const { data } = await request({
                        url: registrationUrl,
                        method: 'post',
                        data: formData,
                    })

                    this.$store.commit('updateField', {
                        key: 'idenfoId',
                        value: data.data.idenfoId,
                    })

                    if (this.$route.meta.publicRegistration === true) {
                        this.$router.push({
                            name: 'public-registration-finish',
                            params: {
                                dataSegmentId: this.dataSegmentId,
                            },
                        })
                    } else {
                        this.$router.push('/register-customer/finish')
                    }
                } catch (errors) {
                    // console.log("catch + " , errors)
                    this.$store.commit('setError', errors)
                    // this.$refs.modalError.show()
                }
                this.$store.commit('setLoading', false)
            } else {
                this.$store.commit('setError', this.errors.all()[0])
            }
        }, // End of onSubmit() method

        /**
         * get the form fields when required
         *
         * @return {void}
         */
        async getRecords() {
            try {
                let { data } = await request({
                    url: `/form-builder/`,
                    params: {
                        dataSegmentId: this.dataSegmentId,
                        section: this.section,
                    },
                })

                this.showPageLoader = false
                this.fields = data.data
            } catch (error) {}
            this.$store.commit('setLoading', false)
        }, // End of getRecords() method
        payments() {
            this.$refs.modalError.hide()
            this.$router.push('/billing')
        },
        currentPlan() {
            this.$refs.modalError.hide()
            this.$router.push('/insights')
        },
    }, // End of Component > watch
} // End of export default
</script>
