// theming
$body-bg: #f2f2f2;

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$interface-medium: var(--interface-medium-color);
$interface-dark: var(--interface-dark-color);

$body-color: #1b1b1e;
$grey-darkest: $body-color;
$grey-dark: #e8e8ef;
$grey-medium: #9ea0a5;
$grey-lite: #7f8fa4;
$grey-xlite: #e5e4e6;
$border-color: #d7d7e2;
$white: #fff;
$border-radius: 4px;
$border-opacity: rgba(151, 151, 151, 0.1);
$success: #41b031;
$light: #eef0f4;
$dark: #bcbcbc;
$danger: #ed1c24;
$danger-dark: #c91f37;
$pink: #aa2f78;
$yellow: #ffb54c;
$radio-check: #9d9f8f;
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'light': $light,
    'dark': $dark,
    'danger': $danger
);
// header height
$header-height: 52px !default;
// upload image
$upload-border-radius: 8px;
$upload-bg: #f2f2f6 !default;
$font-family-base: $font_regular !default;
$headings-font-family: $font_bold !default;
$headings-color: $secondary !default;
$label-color: $secondary !default;
//font sizes
$font-size-base: 0.875rem !default;
$font-size-sm: 0.75rem !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px
// card
$card-bg: $white !default;
$card-border-radius: 12px !default;
$card-border-color: transparent !default;
$card-padding: 24px;
// box shadow
$box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.04);
$front-card-shadow: 0px 0px 30px $grey-xlite;

// input
$form-group-margin-bottom: 1.5rem !default;
$input-bg: $white !default;
$input-color: $grey-darkest !default;
$input-border-color: transparent !default;
$input-border-radius: 4px !default;
$input-height: 43px !default;
$input-font-size: $font-size-base;
$input-padding: 14px 15px;

//label
$label-font-size: $font-size-sm;

//danger color
$red: #ed1c24;

// Placeholder text color
$input-color-placeholder: $grey-medium !default;

// button
$btn-border-radius: 19px !default;
$progress-radius: 6px !default;
// link
$link-color: $primary !default;
// $link-hover-color: darken($link-color, 5%) !default;

$high: #c91f37;
$medium: #f4c200;
$low: #00c535;

//custom block width
$block-width: 1170px;

$button-box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);

// modal

$modal-inner-padding: 24px 24px 0 !default;
$modal-title-line-height: 24px !default;
$modal-title-font-size: 18px !default;
$modal-header-border-color: #d0d2c5 !default;
$modal-header-padding: 17px 24px 11px 24px !default;
$modal-content-border-radius: $upload-border-radius !default;
$button-padding: 30px 20px !default;
$button-height: $input-height !default;
//** Modal footer border color
$modal-footer-border-color: $modal-header-border-color !default;

$modal-lg: 800px !default;
$modal-md: 640px !default;
$modal-sm: 400px !default;

$zindex-modal-background: 1040 !default;
$zindex-modal: 1050 !default;

// form group
$form-group-margin-bottom: 24px !default;

// text Color

$nav-color: $grey-lite;

//Buttons
$button-size: $font-size-base;
$button-family: $font-bold;
$button-padding: 7px 28px;
$button-padding-m: 7px 18px;
$toggle-button-padding: 7px 10px;
$second-button-color: #706a77;
$default-button-color: #706a77;

//state colors

$state-success-text: #3c763d !default;
$state-success-bg: #000 !default;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text: #31708f !default;
$state-info-bg: #d9edf7 !default;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text: #a94442 !default;
$state-danger-bg: #f2dede !default;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%) !default;

/*
    alert
*/

$alert-success-bg: #d4edda !default;
$alert-success-text: #155724 !default;
$alert-success-border: #c3e6cb !default;

$alert-info-bg: #d1ecf1 !default;
$alert-info-text: #0c5460 !default;
$alert-info-border: #bee5eb !default;

$alert-warning-bg: #fff3cd !default;
$alert-warning-text: #856404 !default;
$alert-warning-border: #ffeeba !default;

$alert-danger-bg: #f8d7da !default;
$alert-danger-text: #721c24 !default;
$alert-danger-border: #f5c6cb !default;

// table

$table-footer-bg: #fdfaff;
$table-row-padding: 14px 8px 14px;
$table-row-padding-th: 14px 8px 12px;
// $table-hover: lighten($secondary, 43%);

// sidebar
$sidebar-width: 252px;
$sidebar-btn-hover: #e8e5eb;
$sidebar-menu-color: #e4e4e6;
