<template>
    <div>
        <svg
            width="23"
            height="32"
            viewBox="0 0 23 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22.0688 30.3447H0V0H17.1035L22.0688 4.96558V30.3447Z"
                fill="#DBE0E9"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.8623 7.17236H18.207V19.3103H3.8623L3.8623 7.17236Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.1035 0V4.96558H22.0688L17.1035 0Z"
                fill="#7E8AA1"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 22.0688H22.0688V32H0V22.0688Z"
                fill="#662D91"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.3994 12.6897L10.061 16.1948L8.66992 14.8965L3.8623 19.3103H18.207V17.6553L13.3994 12.6897Z"
                fill="#B35FA5"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.82764 10.7585C8.82764 11.5205 8.20996 12.1379 7.44824 12.1379C6.68652 12.1379 6.06885 11.5205 6.06885 10.7585C6.06885 9.99683 6.68652 9.37939 7.44824 9.37939C8.20996 9.37939 8.82764 9.99683 8.82764 10.7585Z"
                fill="#F4C200"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.6531 30.3447H16.5562C15.6414 30.3447 14.8965 29.6001 14.8965 28.6846V25.3843C14.8965 24.469 15.6414 23.7241 16.5566 23.7241H18.7585C19.0632 23.7241 19.3103 23.9712 19.3103 24.2759C19.3103 24.5803 19.0632 24.8276 18.7585 24.8276H16.5566C16.2493 24.8276 16 25.0776 16 25.3843V28.6846C16 28.9915 16.2493 29.2415 16.5566 29.2415H17.6536C17.9587 29.2415 18.2068 28.9932 18.2068 28.688V27.0344C18.2068 26.73 18.4541 26.4827 18.7585 26.4827C19.0632 26.4827 19.3103 26.73 19.3103 27.0344V28.688C19.3103 29.6016 18.5671 30.3447 17.6531 30.3447Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.7585 27.5862H17.6553C17.3506 27.5862 17.1035 27.3391 17.1035 27.0344C17.1035 26.73 17.3506 26.4827 17.6553 26.4827H18.7585C19.0632 26.4827 19.3103 26.73 19.3103 27.0344C19.3103 27.3391 19.0632 27.5862 18.7585 27.5862Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.37988 30.3447C9.0752 30.3447 8.82812 30.0977 8.82812 29.7932V24.2759C8.82812 23.9712 9.0752 23.7241 9.37988 23.7241C9.68433 23.7241 9.93164 23.9712 9.93164 24.2759V29.7932C9.93164 30.0977 9.68433 30.3447 9.37988 30.3447Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.37988 28.1379H11.0349C12.252 28.1379 13.2419 27.1482 13.2419 25.9312C13.2419 24.7139 12.252 23.7241 11.0349 23.7241H9.37988C9.0752 23.7241 8.82812 23.9712 8.82812 24.2759V27.5862C8.82812 27.8909 9.0752 28.1379 9.37988 28.1379ZM11.0349 27.0344H9.93164V24.8276H11.0349C11.6436 24.8276 12.1384 25.3225 12.1384 25.9312C12.1384 26.5396 11.6436 27.0344 11.0349 27.0344Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.96582 30.3447C3.74878 30.3447 2.75879 29.355 2.75879 28.1379C2.75879 27.8335 3.0061 27.5862 3.31055 27.5862C3.61523 27.5862 3.8623 27.8335 3.8623 28.1379C3.8623 28.7466 4.35718 29.2415 4.96582 29.2415C5.57422 29.2415 6.06909 28.7466 6.06909 28.1379V24.2759C6.06909 23.9712 6.31641 23.7241 6.62085 23.7241C6.92554 23.7241 7.17261 23.9712 7.17261 24.2759V28.1379C7.17261 29.355 6.18286 30.3447 4.96582 30.3447Z"
                fill="white"
            />
        </svg>
    </div>
</template>
