<template>
    <div>
        <svg
            id="Layer_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="365.6 168.7 150.1 94"
            enable-background="new 365.6 168.7 150.1 94"
            xml:space="preserve"
        >
            <g>
                <path
                    id="Shape"
                    fill="#6C7789"
                    d="M431.6,207.4l-2.4-2.4c-0.6-0.6-0.6-1.4,0-2c0.6-0.6,1.4-0.6,2,0l2.4,2.4l2.4-2.4
        c0.6-0.6,1.4-0.6,2,0c0.6,0.6,0.6,1.4,0,2l-2.4,2.4l2.4,2.4c0.6,0.6,0.6,1.4,0,2c-0.6,0.6-1.4,0.6-2,0l-2.4-2.4l-2.4,2.4
        c-0.6,0.6-1.4,0.6-2,0c-0.6-0.6-0.6-1.4,0-2L431.6,207.4z M390.1,207.4l-2.4-2.4c-0.6-0.6-0.6-1.4,0-2c0.6-0.6,1.4-0.6,2,0l2.4,2.4
        l2.4-2.4c0.6-0.6,1.4-0.6,2,0c0.6,0.6,0.6,1.4,0,2l-2.4,2.4l2.4,2.4c0.6,0.6,0.6,1.4,0,2c-0.6,0.6-1.4,0.6-2,0l-2.4-2.4l-2.4,2.4
        c-0.6,0.6-1.4,0.6-2,0c-0.6-0.6-0.6-1.4,0-2L390.1,207.4z M457.1,222.5c0-0.8,0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4V248
        c0,3.2-2.5,5.7-5.7,5.7h-31.2l2-0.8l-8.3,8.3c-2.2,2.2-5.7,2.2-8,0l-8.2-8.3l2,0.8h-31.3c-3.2,0-5.7-2.6-5.7-5.7v-73.6
        c0-3.2,2.5-5.7,5.7-5.7h83c3.2,0,5.7,2.5,5.7,5.7v7.6c0,0.8-0.6,1.4-1.4,1.4s-1.4-0.6-1.4-1.4v-7.6c0-1.6-1.3-2.8-2.8-2.8h-83.1
        c-1.6,0-2.8,1.3-2.8,2.8V248c0,1.6,1.3,2.8,2.8,2.8h31.2l8.3,8.3c1.1,1.1,2.9,1.1,3.9,0l8.3-8.3h31.2c1.6,0,2.8-1.3,2.8-2.8
        L457.1,222.5L457.1,222.5z M399.1,228.1c0-0.8,0.6-1.4,1.4-1.4H425c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4h-24.5
        C399.8,229.5,399.1,228.9,399.1,228.1z"
                />
                <path
                    id="Rectangle-20"
                    fill="#3C1559"
                    class="baseColor"
                    d="M489.5,222.9h4.7c11.8,0,21.4-9.6,21.4-21.4c0-11.8-9.6-21.4-21.4-21.4h-20.4
        c-11.8,0-21.4,9.6-21.4,21.4c0,11.8,9.7,21.4,21.4,21.4h4.7l3.2,3.2c1.3,1.3,3.3,1.3,4.6,0L489.5,222.9L489.5,222.9z M465.6,209
        c-4.1-0.2-6.4-2.5-6.6-6.9c0.3-4.3,2.5-6.7,6.6-7.1c4.1,0.4,6.3,2.7,6.6,7.1C471.9,206.6,469.7,208.9,465.6,209L465.6,209z
         M477.9,198.6c3,0.3,4.7,2,5,5.4c-0.3,3.3-1.9,5-5,5.2c-3.2-0.2-4.8-1.9-5-5.2C473.2,200.6,474.8,198.8,477.9,198.6L477.9,198.6z
         M484.1,211.5v-11.3c0-0.9,0.5-1.5,1.4-1.6c0.8,0.1,1.3,0.5,1.3,1.3c0.5-0.8,1.4-1.3,2.7-1.3c2.7,0.2,4.2,2,4.6,5.5
        c-0.3,3.2-1.8,4.9-4.6,5c-1.1-0.1-1.9-0.3-2.5-0.8v3.2c-0.1,1.1-0.5,1.5-1.3,1.6C484.5,213,484.1,212.4,484.1,211.5L484.1,211.5z
         M501.9,200.5c-0.1,0.8-0.5,1.3-1.1,1.3c-0.2,0.1-0.6-0.1-0.9-0.3c-0.6-0.3-1.3-0.5-1.5-0.6c-0.6,0.1-0.9,0.3-0.9,0.8
        c0,0.4,0.6,0.8,1.6,1.1c2.2,0.8,3.2,1.9,3.2,3.2c-0.2,2-1.5,3-3.9,3.2c-2.4-0.2-3.6-0.8-3.9-2c0.1-0.8,0.5-1.3,1.1-1.3
        c0.4,0,0.8,0.2,1.3,0.6c0.6,0.3,1.1,0.5,1.7,0.5c0.6,0.1,1.1-0.2,1.1-0.8c0-0.3-0.6-0.6-1.7-1.1c-2-0.8-3.2-1.9-3.2-3.2
        c0.1-2,1.3-3.2,3.8-3.2C500.7,198.7,501.9,199.4,501.9,200.5L501.9,200.5z M504.2,203.8v-7.4c0-0.8,0.5-1.3,1.4-1.3
        c0.8,0.1,1.3,0.6,1.3,1.3v7.4c-0.1,0.8-0.6,1.3-1.3,1.3C504.7,205.1,504.3,204.6,504.2,203.8L504.2,203.8z M505.7,209
        c-0.9-0.1-1.4-0.5-1.5-1.3c0.1-0.9,0.6-1.4,1.5-1.5c0.9,0.1,1.4,0.6,1.5,1.5C507,208.5,506.6,209,505.7,209L505.7,209z
         M486.7,203.8c0.1,1.9,0.8,2.8,2.2,2.8c1.3-0.1,2-1.1,2.2-2.8c-0.2-1.7-0.8-2.7-2.2-2.8C487.6,201.2,486.9,202.1,486.7,203.8
        L486.7,203.8z M477.9,201.1c-1.3,0.1-2,1.1-2.2,2.8c0.1,1.8,0.8,2.7,2.2,2.8c1.3-0.1,2-0.9,2.2-2.8
        C479.9,202.1,479.2,201.2,477.9,201.1L477.9,201.1z M465.6,206.6c2.2-0.1,3.6-1.6,3.6-4.4c-0.2-2.8-1.4-4.3-3.6-4.4
        c-2.2,0.2-3.5,1.6-3.6,4.4C462,204.9,463.2,206.5,465.6,206.6L465.6,206.6z"
                />
            </g>
        </svg>
    </div>
</template>
