<template>
    <div class="row">
        <div class="col-lg-6 col-xs-12 p-0">
            <div class="info-panel" :style="cssProps">
                <base-logo class="logo-position-left"></base-logo>
                <div class="info-panel-body py-5 px-4">
                    <p class="f-22">Included in the Starter plan:</p>
                    <ul>
                        <li>
                            <span class="icon-check_circle"></span> 5 Free
                            onboardings and verifications
                        </li>
                        <li>
                            <span class="icon-check_circle"></span>Full
                            integration (deep link, web and mobile)
                        </li>
                        <li>
                            <span class="icon-check_circle"></span>No credit
                            card required
                        </li>
                        <!-- <li>
                            <span class="icon-check_circle"></span>Personalized
                            theming and branding
                        </li>
                        <li>
                            <span class="icon-check_circle"></span>Hosted on
                            secure SOC 2 type 2 infrastructure
                        </li> -->
                    </ul>
                </div>
                <!-- <div
                    v-if="!$route.meta.noFooterBar == true"
                    class="contact-link text-center"
                >
                    Can’t access your account?
                    <router-link to="/contact-us">Contact us</router-link>
                </div> -->
            </div>
            <div class="color-overlay"></div>
        </div>
        <div class="col-lg-6 p-0 bg-white">
            <base-logo
                class="main-logo logo-style for-tablet-mobile"
            ></base-logo>
            <div class="login-panel custom-p-5">
                <div class="">
                    <h2>Register Your Account!</h2>
                    <p class="para">
                        For the purpose of industry regulation, your details are
                        required.
                    </p>
                    <div class="system-user-warning">
                        <i class="icon-error_outline"></i>
                    </div>
                    <div class="system-user-details">
                        <p>
                            We will send you an email to create your new
                            password.
                        </p>
                    </div>
                    <b-form
                        @submit.stop.prevent="onSubmit()"
                        @reset.stop.prevent="onHidden"
                    >
                        <div class="row custom-model-form">
                            <div class="col-md-12">
                                <b-form-group
                                    id="input-group-1"
                                    label="User Name"
                                    label-for="user-name"
                                >
                                    <b-form-input
                                        id="user-name"
                                        v-model="formData.username"
                                        v-validate="{
                                            required: true,
                                            max: 20,
                                            min: 6,
                                            regex: /^\S*$/,
                                            alpha_num: true,
                                        }"
                                        name="user name"
                                        type="text"
                                        :class="{
                                            'is-invalid':
                                                errors.has('user name'),
                                        }"
                                        autocomplete="no"
                                        placeholder="Enter user name"
                                    ></b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-md-12 row-min-space">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b-form-group
                                            id="input-group-2"
                                            label="First Name"
                                            label-for="first-name"
                                        >
                                            <b-form-input
                                                id="first-name"
                                                v-model="formData.firstName"
                                                v-validate="{
                                                    required: true,
                                                    max: 50,
                                                    alpha_spaces: true,
                                                }"
                                                name="first name"
                                                type="text"
                                                :class="{
                                                    'is-invalid':
                                                        errors.has(
                                                            'first name'
                                                        ),
                                                }"
                                                autocomplete="no"
                                                placeholder="Enter first name"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>

                                    <div class="col-md-6">
                                        <b-form-group
                                            id="input-group-3"
                                            label="Last Name"
                                            label-for="last-name"
                                        >
                                            <b-form-input
                                                id="last-name"
                                                v-model="formData.lastName"
                                                v-validate="{
                                                    required: true,
                                                    max: 50,
                                                    alpha_spaces: true,
                                                }"
                                                name="last name"
                                                :class="{
                                                    'is-invalid':
                                                        errors.has('last name'),
                                                }"
                                                autocomplete="no"
                                                placeholder="Enter last name"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <b-form-group
                                    id="input-group-4"
                                    label="Email Address"
                                    label-for="email-address"
                                >
                                    <b-form-input
                                        id="email-address"
                                        v-model="formData.email"
                                        v-validate="{
                                            required: true,
                                            email: true,
                                        }"
                                        name="email"
                                        :class="{
                                            'is-invalid': errors.has('email'),
                                        }"
                                        autocomplete="no"
                                        placeholder="Enter email address"
                                    ></b-form-input>
                                </b-form-group>
                                <b-form-group
                                    id="input-group-5"
                                    label="Country"
                                    label-for="country"
                                >
                                    <b-form-select
                                        v-model="formData.nationality"
                                        v-validate="{
                                            required: true,
                                        }"
                                        name="country"
                                        :class="[
                                            'form-control',
                                            {
                                                'is-invalid':
                                                    errors.has('country'),
                                            },
                                        ]"
                                        :options="nationalities"
                                        disabled
                                    ></b-form-select>
                                </b-form-group>
                            </div>

                            <!--                    <div class="col-md-12">-->
                            <!--                        <div class="form-group">-->
                            <!--                            <label for="data-segments"-->
                            <!--                                >Select Your Onboarding Client</label-->
                            <!--                            >-->
                            <!--                            <multiselect-->
                            <!--                                v-model="selectedSegIds"-->
                            <!--                                v-validate="{-->
                            <!--                                    required: true,-->
                            <!--                                }"-->
                            <!--                                name="data segments"-->
                            <!--                                label="title"-->
                            <!--                                placeholder="Select data segment"-->
                            <!--                                track-by="id"-->
                            <!--                                :class="{-->
                            <!--                                    'is-invalid': errors.has('data segments'),-->
                            <!--                                }"-->
                            <!--                                :options="dataSegments"-->
                            <!--                                :multiple="true"-->
                            <!--                                ><template slot="noResult"-->
                            <!--                                    >No Record Found</template-->
                            <!--                                ></multiselect-->
                            <!--                            >-->
                            <!--                        </div>-->
                            <!--                    </div>-->
                        </div>
                        <div class="action-buttons">
                            <base-button
                                :btn-label="buttonLabel"
                                btn-type="submit"
                                btn-variant="primary"
                                class="width-100"
                                :class="loading ? 'disabled' : ''"
                            ></base-button>
                            <!-- <base-button
                                btn-label="Cancel   "
                                btn-type="reset"
                                :disabled="loading"
                                btn-variant="link"
                            ></base-button> -->
                        </div>
                        <div class="already-a-customer">
                            <p>Already a customer? <a href="/">Login</a></p>
                        </div>
                        <base-toast></base-toast>
                    </b-form>
                </div>
                <b-modal
                    ref="termsandconditionpopup"
                    size="xl"
                    title="T&C And Privacy Policy"
                    hide-footer
                    :click-to-close="false"
                    :no-close-on-backdrop="true"
                    :no-close-on-esc="true"
                >
                    <terms-and-condition-popup
                        @accepted="handleaccepted"
                    ></terms-and-condition-popup>
                </b-modal>
                <b-modal
                    ref="thankyoupopup"
                    size="sm"
                    title=""
                    hide-footer
                    :click-to-close="false"
                    :no-close-on-backdrop="true"
                    :no-close-on-esc="true"
                >
                    <thank-you-popup @thanked="handleThanked"></thank-you-popup>
                </b-modal>
            </div>
            <base-footer></base-footer>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
//import Multiselect from 'vue-multiselect'
import _ from 'lodash'
//import resource from '@/api/resource'

import TermsAndConditionPopup from '@/components/popups/TermsAndConditionPopup.vue'
import ThankYouPopup from '@/components/popups/ThankYouPopup.vue'
import resource from '@/api/resource'

//const roleApi = new resource('access-control/roles')
//const dataSegmentApi = new resource('users/data-segments')
const viewBrandingApi = new resource('configurations/branding')

export default {
    components: {
        // Multiselect,
        TermsAndConditionPopup,
        ThankYouPopup,
    },

    /*
|--------------------------------------------------------------------------
| Component > props
|--------------------------------------------------------------------------
*/
    props: {}, // End of Component > props
    /*
|--------------------------------------------------------------------------
| Component > data
|--------------------------------------------------------------------------
*/

    data() {
        return {
            formData: this.initializeFormData(),
            dataSegments: [],
            selectedSegIds: [],
            cssProps: {
                backgroundImage: `url(${require('@/assets/images/image-banner.jpg')})`,
            },
        }
    },
    /*
|--------------------------------------------------------------------------
| Component > computed
|--------------------------------------------------------------------------
*/
    computed: {
        ...mapGetters([
            'loading',
            'selectedItem',
            'hidePopup',
            'nationalities',
        ]),
        title() {
            return this.selectedItem ? 'Modify System User' : 'Add System User'
        }, // End of title() method

        buttonLabel() {
            return this.selectedItem ? 'Update Account' : 'Create Account'
        },
    }, // End of Component > computed
    /*
|--------------------------------------------------------------------------
| Component > watch
|--------------------------------------------------------------------------
*/
    watch: {
        /**
         * Handle when the selected has been updated
         *
         * @return {void}
         */
        selectedItem(value) {
            let self = this
            console.log(this)
            if (value !== null && value !== undefined) {
                Object.assign(this.formData, value)
                this.formData.id = value._id
                // let currentRole = _.find(this.roles, {
                //     value: this.formData.roleId,
                // })
                // if (!currentRole) {
                //     this.formData.roleId = null
                // }
                console.log(this.formData.dataSegmentIds)
                if (!this.formData.dataSegmentIds.length) {
                    self.selectedSegIds.push({
                        code: 'All',
                        id: 'all',
                    })
                } else {
                    this.formData.dataSegments.forEach(function (val) {
                        self.selectedSegIds.push({
                            code: val.name,
                            id: val._id,
                            title: val.title,
                        })
                    })
                }

                this.formData.profilePicture.fileName = value.avatar.fileName
                this.formData.profilePicture.originalName =
                    value.avatar.originalName
            } else {
                this.onHidden()
            }
        },
        /**
         * Handle when the popup hide
         *
         * @return {void}
         */
        hidePopup(value) {
            if (value) {
                this.onHidden()
            }
        },
        selectedSegIds(val) {
            let allSelected = _.find(val, { id: 'all' })
            if (allSelected) {
                _.remove(val, function (n) {
                    return n.id != 'all'
                })
                this.dataSegments.forEach(function (ele) {
                    if (ele.id !== 'all') {
                        ele.$isDisabled = true
                    }
                })
            } else {
                this.dataSegments.forEach(function (ele) {
                    ele.$isDisabled = false
                })
            }
        },
    }, // End of Component > watch

    mounted() {
        // get datasegment and roles options list
        this.getOptionsList()
    },
    async created() {
        // Change theme color
        await this.getBrandingData()
    }, // End of Component > watch
    methods: {
        initializeFormData() {
            return {
                id: '',
                profilePicture: {
                    fileName: '',
                    originalName: '',
                },
                username: '',
                firstName: '',
                lastName: '',
                email: '',
                roleTitle: 'User',
                dataSegmentIds: [],
                nationality: 'Malaysia',
            }
        },
        handleThanked() {
            this.$refs.thankyoupopup.hide()
        },
        async handleaccepted() {
            this.$refs.termsandconditionpopup.hide()
            try {
                this.formData.dataSegmentIds = _.map(this.selectedSegIds, 'id')
                if (this.formData.id) {
                    //update system user
                    await this.$store.dispatch(
                        'updateSystemUser',
                        this.formData
                    )
                } else {
                    //add system user

                    let dataSegment = await this.$store.dispatch(
                        'addDataSegment',
                        this.formData
                        //this.formData
                    )
                    console.log(dataSegment)
                    this.formData.dataSegmentIds.push(dataSegment.data._id)

                    if (dataSegment.data._id) {
                        console.log(this.formData)
                        let cust = await this.$store.dispatch(
                            'customerSignUp',
                            this.formData
                        )
                        console.log(cust.data.id)
                        if (cust.data.id) {
                            this.$refs.thankyoupopup.show()
                        }
                    } else {
                        console.log('DataSegment ID not found')
                    }
                }
            } catch (error) {
                console.log(error, 'There is an error on submit')
            }
        },
        async onSubmit() {
            const result = await this.$validator.validateAll()
            if (result) {
                this.$refs.termsandconditionpopup.show()
            } else {
                this.$store.commit('setError', this.errors.all()[0])
            }
        },
        /**
         * Handle when the modal is closed
         *
         * @return {void}
         */
        onHidden() {
            // clear the selected item
            this.$store.commit('clearItem')
            Object.assign(this.formData, this.initializeFormData())
            this.selectedSegIds = []
            this.$validator.reset()
        }, // End of onHidden() method

        async getOptionsList() {
            //let self = this
            //data segments list
            // let dataSegmentList = await dataSegmentApi.list({
            //     status: 'active',
            //     ref: 'dropdown',
            //     perPage: 1000,
            // })
            // self.dataSegments = [{ code: 'All', id: 'all' }]
            // dataSegmentList.data.data.forEach(function(val) {
            //     self.dataSegments.push({
            //         code: val.code,
            //         id: val._id,
            //         title: val.title,
            //     })
            // })
            // Roles option list
            // let rolesList = await roleApi.list()
            // rolesList.data.data.forEach(function(val) {
            //     if (val.status !== 'archived') {
            //         self.roles.push({ text: val.title, value: val.id })
            //     }
            // })
        },
        async getBrandingData() {
            let { data } = await viewBrandingApi.list()
            this.$store.commit('setDisplaySetting', data.data)
        }, // End of getBrandingData() method
    },
}
</script>
