<template>
    <div>
        <base-logo class="main-logo logo-style"></base-logo>
        <div class="login-panel auto-min-height">
            <div class="card card-auth with-shadow">
                <h2 class="auth-heading">
                    Login to your account
                    <span> Please enter your account credentials. </span>
                </h2>

                <div class="auth-body">
                    <b-form @submit.stop.prevent="onSubmit">
                        <b-form-group
                            id="login_username"
                            label="Username"
                            label-for="login-username-input"
                        >
                            <b-form-input
                                id="login_username"
                                v-model="formData.username"
                                v-validate="{ required: true, max: 20, min: 6 }"
                                placeholder="Enter your account username"
                                autocomplete="off"
                                data-vv-name="username"
                                :class="{
                                    'is-invalid': errors.has('username'),
                                    p,
                                }"
                            ></b-form-input>
                        </b-form-group>
                        <b-form-group
                            id="login_password"
                            label="Password"
                            type="password"
                            label-for="login-password-input"
                        >
                            <b-form-input
                                id="login-password-input"
                                v-model="formData.password"
                                v-validate="{ required: true, max: 20, min: 6 }"
                                placeholder="Enter your account password"
                                autocomplete="off"
                                type="password"
                                data-vv-name="password"
                                :class="{
                                    'is-invalid': errors.has('password'),
                                }"
                            ></b-form-input>
                        </b-form-group>
                        <base-button
                            btn-label="Sign In"
                            btn-type="submit"
                            btn-variant="primary"
                            :disabled="loading"
                            :class="loading ? 'disabled' : ''"
                        ></base-button>
                        <router-link
                            to="users/forgot-password"
                            class="btn forgot-link btn-link float-right"
                            >Forgot your password?</router-link
                        >
                        <!-- <base-toast></base-toast> -->
                        <div class="already-a-customer">
                            <p>
                                New Customer? <a href="/signup">Register Now</a>
                            </p>
                        </div>
                    </b-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import resource from '@/api/resource'
const viewBrandingApi = new resource('configurations/branding')

export default {
    /*
    |--------------------------------------------------------------------------
    | Component > components
    |--------------------------------------------------------------------------
    */
    components: {},
    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: {}, // End of Component > props

    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {
            formData: this.initializeFormData(),
        }
    }, // End of Component > data

    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapGetters(['loading', 'user', 'success', 'redirectUrl']),
    }, // End of Component > computed

    /*
    |--------------------------------------------------------------------------
    | Component > watch
    |--------------------------------------------------------------------------
    */

    watch: {
        /**
         * Handle when the user has been updated
         *
         * @return {void}
         */
        user(value) {
            // check if the value is not empty
            // and redirect to inner page
            if (value !== null && value !== undefined) {
                if (this.redirectUrl) {
                    this.$router.push({ path: this.redirectUrl })
                    this.$store.commit('setRedirectUrl', null)
                } else {
                    this.$router.push({ name: 'view-activity-dashboard' })
                }
            }
        }, // End of user()
    }, // End of Component > methods

    /*
        |--------------------------------------------------------------------------
        | Component > mounted
        |--------------------------------------------------------------------------
        */
    async created() {
        // Change theme color
        await this.getBrandingData()
    }, // End of Component > watch

    /*
    |--------------------------------------------------------------------------
    | Component > methods
    |--------------------------------------------------------------------------
    */
    methods: {
        initializeFormData() {
            return {
                username: '',
                password: '',
                loginAt:Date.now(),
            }
        }, // End of initializeFormData() methods

        async onSubmit() {
            const result = await this.$validator.validateAll()

            if (result) {
                try {
                    let encryptedForm = this.CryptoJS.AES.encrypt(
                        JSON.stringify(this.formData),
                        process.env.VUE_APP_CRYPTO_SECERT_KEY
                    ).toString()
                    console.log('Encryption: ' + encryptedForm)
                    // authLogin action in auth store
                    await this.$store.dispatch('authLogin', {
                        data: encryptedForm,
                    })
                    // await this.$store.dispatch('authLogin', this.formData)
                } catch (error) {
                    console.log(error, 'There is an error on login submit')
                }
            } else {
                this.$store.commit('setError', this.errors.all()[0])
            }
        }, // End of onSubmit() method
        async getBrandingData() {
            let { data } = await viewBrandingApi.list()
            this.$store.commit('setDisplaySetting', data.data)
        }, // End of getBrandingData() method
    }, // End of Component > mounted
} // End of export default
</script>
