<template>
    <div>
        <b-form-group
            :label="field.label"
            :label-for="`id_${field._id}`"
            :class="{
                'required-field': field.isRequired,
            }"
        >
            <b-form-textarea
                id="textarea"
                v-model="model"
                v-validate="{
                    required: field.isRequired,
                }"
                :placeholder="field.placeholder"
                rows="3"
                max-rows="3"
                :disabled="loading"
                :data-vv-name="field.label"
                :class="{
                    'is-invalid': errors.has(field.label),
                    'is-invalid': isInvalid,
                }"
            ></b-form-textarea>
        </b-form-group>
    </div>
</template>

<script>
import TextField from './TextField'
export default {
    /*
    |--------------------------------------------------------------------------
    | Component > extends
    |--------------------------------------------------------------------------
    */
    extends: TextField,
    data() {
        return {
            isInvalid: false,
        }
    }, // End of Component > extends

    mounted() {
        if (this.field.key == 'sourceOfWealth.OtherEvidenced') {
            if (this.$store.state.registration.form.sourceOfWealth.evidenced) {
                const newValue =
                    this.$store.state.registration.form.sourceOfWealth.evidenced
                if (newValue && newValue.length && newValue.length > 0) {
                    newValue.forEach((element) => {
                        if (element == 'Other') {
                            this.field.isRequired = true
                        } else {
                            this.field.isRequired = false
                        }
                    })
                }
            }
        }
        if (this.field.key == 'sourceOfFunds.OtherEvidenced') {
            if (this.$store.state.registration.form.sourceOfFunds.evidenced) {
                const newValue =
                    this.$store.state.registration.form.sourceOfFunds.evidenced
                if (newValue && newValue.length && newValue.length > 0) {
                    newValue.forEach((element) => {
                        if (element == 'Other') {
                            this.field.isRequired = true
                        } else {
                            this.field.isRequired = false
                        }
                    })
                }
            }
        }
    },

    created() {
        if (this.field.key == 'pepDeclaration.other') {
            // console.log(this.$store.state.registration.form.pepInfo)
            this.$store.watch(
                (state) => {
                    return this.$store.state.registration.form.pepDeclaration
                },
                (newValue, oldValue) => {
                    // console.log(newValue)
                    for (let key in newValue) {
                        if (newValue.hasOwnProperty(key)) {
                            // console.log(key + ' -> ' + newValue[key])
                            if (newValue[key] == 'Yes') {
                                this.field.isRequired = true
                                // this.isInvalid = true
                                break
                            } else {
                                this.field.isRequired = false
                                // this.isInvalid = false
                            }
                        }
                    }
                    // console.log(this.$store.state.registration.form.pepInfo)
                },
                {
                    deep: true,
                }
            )
        }
        if (this.field.key == 'sourceOfWealth.OtherEvidenced') {
            this.$store.watch(
                (state) => {
                    return this.$store.state.registration.form.sourceOfWealth
                        .evidenced
                },
                (newValue) => {
                    console.log('Textarea Sourec of Wealth: ', newValue)

                    if (newValue && newValue.length && newValue.length > 0) {
                        newValue.forEach((element) => {
                            if (element == 'Other') {
                                this.field.isRequired = true
                            } else {
                                this.field.isRequired = false
                            }
                        })
                    }
                }
            )
        }

        if (this.field.key == 'sourceOfFunds.OtherEvidenced') {
            this.$store.watch(
                (state) => {
                    return this.$store.state.registration.form.sourceOfFunds
                        .evidenced
                },
                (newValue) => {
                    console.log('Textarea Sourec of FUnds: ', newValue)
                    if (newValue && newValue.length && newValue.length > 0) {
                        newValue.forEach((element) => {
                            if (element == 'Other') {
                                this.field.isRequired = true
                            } else {
                                this.field.isRequired = false
                            }
                        })
                    }
                }
            )
        }
    },
}
</script>
